force-app/main/default/flows/Account_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This notifies users except NSC Admin, when an account in created in SF based on Account Owner. Also checks for MCN( master Customer Number) as well!</description>
        <name>CDM_Account_CreatioCDMAccountCreationAlertsn_Alerts</name>
        <label>CDM Account Creation Alerts</label>
        <locationX>696</locationX>
        <locationY>842</locationY>
        <actionName>Account.CDM_Account_Creation_Alerts</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email alert for accounts where the coverage field has been changed to team.</description>
        <name>Email_alert_to_Chad_Bruhn_when_account_coverage_changed_to_Teamed</name>
        <label>Email alert to Chad Bruhn when account coverage changed to Teamed</label>
        <locationX>709</locationX>
        <locationY>521</locationY>
        <actionName>Account.Email_alert_to_Chad_Bruhn_when_account_coverage_changed_to_Teamed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Record_Type_Id_is_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Account_Owner_If_Account_Record_Type_Changed</name>
        <label>Send Email to Account Owner If Account Record Type Changed.</label>
        <locationX>716</locationX>
        <locationY>684</locationY>
        <actionName>Account.Send_Email_to_Account_Owner_If_Account_Record_Type_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_cdm_acccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Email alert for accounts where the coverage field has been changed to team.</description>
        <name>Account_Coverage_changed_to_Teamed</name>
        <label>Account Coverage changed to Teamed</label>
        <locationX>440</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Id_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coverage_EQUALS_Teamed_and_LOB_EQUALS_FINANCIAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coverage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teamed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FINANCIAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_to_Chad_Bruhn_when_account_coverage_changed_to_Teamed</targetReference>
            </connector>
            <label>Coverage EQUALS Teamed and LOB EQUALS FINANCIAL</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will notifies users except NSC Admin, when an account in created in SF based on Account Owner. Also checks for MCN( master Customer Number) as well!</description>
        <name>Check_cdm_acccount</name>
        <label>Check cdm acccount</label>
        <locationX>441</locationX>
        <locationY>831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_cdm_Account2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ID_for_NSC_ADMIN.IDs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Customer_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDM_Account_CreatioCDMAccountCreationAlertsn_Alerts</targetReference>
            </connector>
            <label>Check cdm Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send mail if record type on account is changed.</description>
        <name>Record_Type_Id_is_Changed</name>
        <label>Record Type Id is Changed</label>
        <locationX>439</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Check_cdm_acccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Account_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Account_Owner_If_Account_Record_Type_Changed</targetReference>
            </connector>
            <label>Change in Account Record Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Field - Country with Master customer Number will be the formula field containing Account Country Code and MCN</description>
        <name>CountrywithMastercustomerNumber</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Account_Country_Code__c})+{!$Record.Master_Customer_Number__c}</expression>
    </formulas>
    <interviewLabel>Account After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ID_for_NSC_ADMIN</name>
        <label>Get ID for NSC ADMIN</label>
        <locationX>443</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Coverage_changed_to_Teamed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSC_Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ID_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>317</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_ID_for_NSC_ADMIN</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.Automation_Setting__c.Skip_Flow__c})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ActiveVarible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </variables>
    <variables>
        <name>VariableCDM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CDM</stringValue>
        </value>
    </variables>
    <variables>
        <name>VariableERPReady</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERP Ready</stringValue>
        </value>
    </variables>
    <variables>
        <name>VariableNSCAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00570000001N9kDAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>VariableTarget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Target</stringValue>
        </value>
    </variables>
</Flow>
