force-app/main/default/flows/AQS_Create_and_Navigate_to_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Go to the quote</description>
        <name>Goto_Quote</name>
        <label>Goto Quote</label>
        <locationX>3571</locationX>
        <locationY>637</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>varQLEUrl</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Payments_Only</name>
        <label>Assign Payments Only</label>
        <locationX>2073</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>paymentsOnlyVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payments_Only</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Quote</name>
        <label>Set Parent Quote</label>
        <locationX>1915</locationX>
        <locationY>1433</locationY>
        <assignmentItems>
            <assignToReference>vMultisiteParentQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parent_Qutoes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Parent_Qutoes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Quote_Count</name>
        <label>Set Parent Quote Count</label>
        <locationX>1608</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>vParentQuoteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Parent_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Quote_Count_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Quote_Id_From_Screen_flow</name>
        <label>Set Parent Quote Id From Screen flow</label>
        <locationX>1954</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>vMultisiteParentQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Parent_PP_or_AE_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Multisite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Only_No</name>
        <label>Set Payment  Only Var To No</label>
        <locationX>2065</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>vReasonsForNoPayments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EXISTING_CONTRACT_OTHER</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPaymentsContractEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentsOnlyVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the QLE Variable for a Standard User type</description>
        <name>set_Standard_URL</name>
        <label>set Standard URL</label>
        <locationX>3439</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>varQLEUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_QLE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Goto_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the QLE Url Variable base on Unit type</description>
        <name>Set_Url</name>
        <label>Set PowerPartner Url</label>
        <locationX>3453</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>varQLEUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PowerPartner_QLE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Goto_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_Child_AE_Only</name>
        <label>Set values for Child | AE Only</label>
        <locationX>2256</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>vDelToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constPaymentTypeNoPayments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMultisiteRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constRelationshipChild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vReasonsForNoPayments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Quote.qtc_Reasons_for_no_Payment_Processing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPaymentsContractEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Quote.qtc_Payments_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Child_AE_PP</name>
        <label>Set Values for Child | AE+PP</label>
        <locationX>2274</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>vDelToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constPaymentTypeFullNCRPayment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumberOfSitesWithPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenNumberofSites1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMultisiteRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constRelationshipChild</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vParentPaymentsSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Quote.qtc_Payments_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_Parent_AE_Only</name>
        <label>Set values for Parent | AE Only</label>
        <locationX>2271</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>vPaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constPaymentTypeNoPayments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDelToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMultisiteRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constRelationshipParent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Parent_AE_PP</name>
        <label>Set Values for Parent | AE+PP</label>
        <locationX>2414</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>vNumberOfSitesWithPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenNumberofSites1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCreatePaymentSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMultisiteRelationship</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constRelationshipParent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AE_Only</name>
        <choiceText>AE Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AE Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_Site</name>
        <choiceText>Multi-Site</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Site</name>
        <choiceText>Single-Site</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>AE ONly</description>
        <name>constMultisiteTypeAEOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AE Only</stringValue>
        </value>
    </constants>
    <constants>
        <description>AE+PP</description>
        <name>constMultisitetypeAEPP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AE+PP</stringValue>
        </value>
    </constants>
    <constants>
        <description>PP ONly</description>
        <name>constMultisiteTypePPOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PP Only</stringValue>
        </value>
    </constants>
    <constants>
        <description>Above-Store Only</description>
        <name>constPaymentTypeAboveStoreOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Above-Store Only</stringValue>
        </value>
    </constants>
    <constants>
        <description>Full NCR Payments</description>
        <name>constPaymentTypeFullNCRPayment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Full NCR Payments</stringValue>
        </value>
    </constants>
    <constants>
        <description>No Payments</description>
        <name>constPaymentTypeNoPayments</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Payments</stringValue>
        </value>
    </constants>
    <constants>
        <name>constRelationshipChild</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Child</stringValue>
        </value>
    </constants>
    <constants>
        <name>constRelationshipParent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Parent</stringValue>
        </value>
    </constants>
    <constants>
        <name>DefaultSubscriptionTerm</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>EXISTING_CONTRACT_OTHER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Contract (Other)</stringValue>
        </value>
    </constants>
    <constants>
        <description>User Type Partner</description>
        <name>UserType_Partner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </constants>
    <constants>
        <description>User Type PowerPartner</description>
        <name>UserType_PowerPartner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PowerPartner</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CPQ_Opportunity_Check</name>
        <label>CPQ Opportunity Check</label>
        <locationX>466</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Quote_Reject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a CPQ Opportunity</defaultConnectorLabel>
        <rules>
            <name>Is_CPQ_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCPQ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Order</targetReference>
            </connector>
            <label>Is CPQ Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision on the running user&apos;s User Type</description>
        <name>Current_User_Type</name>
        <label>Current User Type</label>
        <locationX>253</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Permission_Set_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserTypePartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserType_Partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Opportunity_Check</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>UserTypePowerPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserType_PowerPartner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Opportunity_Check</targetReference>
            </connector>
            <label>PowerPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_User_Type_2</name>
        <label>Current User Type 2</label>
        <locationX>3282</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>set_Standard_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserType_Partner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserType_Partner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Url</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>UserType_PowerPartner2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserType_PowerPartner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Url</targetReference>
            </connector>
            <label>Power Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Multisite</name>
        <label>Decision Multisite</label>
        <locationX>2088</locationX>
        <locationY>1268</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionChildAEOnly</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisiteTypeAEOnly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>screenMultiSiteType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisiteTypeAEOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Quote</targetReference>
            </connector>
            <label>Child | AE Only</label>
        </rules>
        <rules>
            <name>decisionChildAePP</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisitetypeAEPP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_for_Child_AE_PP</targetReference>
            </connector>
            <label>Child | AE+PP</label>
        </rules>
        <rules>
            <name>decisionParentAEPP</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisitetypeAEPP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_for_Parent_AE_PP</targetReference>
            </connector>
            <label>Parent | AE + PP</label>
        </rules>
        <rules>
            <name>decisionParentAeOnly</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisiteTypeAEOnly</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>screenMultiSiteType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisiteTypeAEOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_for_Parent_AE_Only</targetReference>
            </connector>
            <label>Parent | AE Only</label>
        </rules>
        <rules>
            <name>decisionPPOnly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constMultisiteTypePPOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values_for_Parent_AE_PP</targetReference>
            </connector>
            <label>PP Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_have_CPQ_License</name>
        <label>Does User have CPQ License?</label>
        <locationX>263</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>No_CPQ_License_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - User Does Not</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_License_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Order</targetReference>
            </connector>
            <label>Yes - User Does</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Create_Payment</name>
        <label>is Create Payment</label>
        <locationX>2959</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Current_User_Type_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decisionCreatePayment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCreatePaymentSite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Site</targetReference>
            </connector>
            <label>Create Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_I3POS_Channel_Account</name>
        <label>Is I3POS Channel Account</label>
        <locationX>1838</locationX>
        <locationY>683</locationY>
        <defaultConnector>
            <targetReference>Payments_Only_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_I3POS_Channel_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isI3POSChannelAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Only_No</targetReference>
            </connector>
            <label>Yes I3POS Channel Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to determine if Single or Multi-site</description>
        <name>Is_Multi_Site</name>
        <label>Decision Multi-Site</label>
        <locationX>1704</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>Is_I3POS_Channel_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Site</defaultConnectorLabel>
        <rules>
            <name>decisionIsMultiSite</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>isMultisite.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Multisite</targetReference>
            </connector>
            <label>Multi SIte No Existing Site or PP Only</label>
        </rules>
        <rules>
            <name>Multi_Site_Assign_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMultisite.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Quotes</targetReference>
            </connector>
            <label>Multi-Site Add to Existing Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Sites_Required</name>
        <label>Number of Sites Required?</label>
        <locationX>1589</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Is_Multi_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Number_of_Sites_Required</name>
            <conditionLogic>1 OR (2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PP Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>screenMultiSiteType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE+PP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAddToExistingMS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Sites_Screen</targetReference>
            </connector>
            <label>Yes - Number of Sites Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ordered</name>
        <label>Already Ordered?</label>
        <locationX>645</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOrdered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Already_Ordered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Quote_Count_Decision</name>
        <label>Parent Quote Count Decision</label>
        <locationX>1601</locationX>
        <locationY>1133</locationY>
        <defaultConnector>
            <targetReference>screenMultiSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 1 record</defaultConnectorLabel>
        <rules>
            <name>X0_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParentQuoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreateParent</targetReference>
            </connector>
            <label>0 records</label>
        </rules>
        <rules>
            <name>X1_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParentQuoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Parent_Qutoes</targetReference>
            </connector>
            <label>1 Record</label>
        </rules>
    </decisions>
    <description>SFCPQBLG-1255 [CPQ] I3 Partner Quoting Changes (Dev Team)
SFCPQBLG-799 While creating I3 Pos child quote no parent pickup up list is populating
NCR,CPQ - Dec 28, 2021 - SFCPQBLG-614 I3 Partner Enablement
ATG - Oct 6, 2021 - Removed the header from the payments only question screen
ATG - Sept 21, 2021 - Removed Quote Process ID for Single Site quotes, Added question about Payments Only
ATG - Sept 14, 2021 - Added Quote Process ID for Single Site quotes 
ATG - Sept 9, 2021 - Updated flow API to v52; allows for blanks at the top of picklist values for screen elements
NCR,CPQ - Sprint 10 - Lockdown Subscription Term for SMB
ATG - 17 Aug, 2021 - Populate Multi-Site Parent Payments Solution text field when creating AE+PP Child quote
ATG - July 9, 2021 - Removed header on new screen
ATG - July 8, 2021 - Updated multi-site toggle label
ATG - July 7, 2021 - Fixed Multi-Site decisions
ATG - July 6, 2021 - Added validation on No of Payments Sites for PP Only quotes, TESTING BUG FIX
ATG - July 2, 2021 - Set Reasons and Payment Contract End Date on child AE Quote based on value from parent
ATG - June 29, 2021 - Updated &quot;Number of Sites&quot; input label to match quote field label
ATG - June 22, 2021 - Address issue with multi-site not remembering selection
ATG - June 22, 2021 - Fixed Payment site create to populate parent account and multi-site flag
ATG - June 14, 2021 - Payment site updates and name
ATG - June 8, 2021 - Parent record set update, display quote number + name field
ATG - June 1 2021 - Flow multisite decision update
ATG - MAY 25, 2021 - Flow multisite enhancements
ATG - May 21, 2021 - Combine AOS Create Quote In Community flow</description>
    <dynamicChoiceSets>
        <name>picklistMultiSite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>qtc_Multi_Site_Type__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordSetParentQuotes</name>
        <dataType>String</dataType>
        <displayField>qtc_Quote_Number_and_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MultiSiteTypeFormula</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>vMultisiteParentQuoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Returns the User.Id of the user running the flow</description>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DefaultPaymentType</name>
        <dataType>String</dataType>
        <expression>{!vPaymentType}</expression>
    </formulas>
    <formulas>
        <name>fDefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>{!vCloseDate} + 30</expression>
    </formulas>
    <formulas>
        <name>isI3POSChannelAccount</name>
        <dataType>Boolean</dataType>
        <expression>{!vMDMEnterpriseName}=&apos;I3POS&apos;</expression>
    </formulas>
    <formulas>
        <name>isSalesUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.qtc_CPQ_Approvals} = false</expression>
    </formulas>
    <formulas>
        <name>MultiSiteTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!screenMultiSiteType2})),{!screenMultiSiteType2},{!screenMultiSiteType}
)</expression>
    </formulas>
    <formulas>
        <description>The complete URL to open the quote in the Quote Line Editor for PowerPartner</description>
        <name>PowerPartner_QLE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.AQS_CPQ_Flow__c.qtc_Community_URL__c} + {!quoteId}</expression>
    </formulas>
    <formulas>
        <description>The complete URL to open the Quote in the Product selection screen of the Quote Line Editor</description>
        <name>QLE_Product</name>
        <dataType>String</dataType>
        <expression>{!$Setup.AQS_CPQ_Flow__c.AQS_URL__c} + &apos;/apex/sb?scontrolCaching=1&amp;id=&apos; + {!quoteId} + &quot;#/product/lookup?qId=&quot;+{!quoteId}+ &quot;&amp;aId=&quot;+{!quoteId}</expression>
    </formulas>
    <formulas>
        <name>ShiptoAccountformula</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!vPartnerId})),{!vPartnerId},{!AccountId}
)</expression>
    </formulas>
    <formulas>
        <description>The complete URL to open the quote in the Quote Line Editor for Partner</description>
        <name>Standard_QLE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.AQS_CPQ_Flow__c.AQS_URL__c}+ &apos;/apex/sb?scontrolCaching=1&amp;id=&apos; +  {!quoteId} + &apos;#quote/le?qId=&apos; + {!quoteId}</expression>
    </formulas>
    <formulas>
        <name>SubscriptionTerm</name>
        <dataType>Number</dataType>
        <expression>IF(isBlank({!Subscription_Term}), {!DefaultSubscriptionTerm}, {!Subscription_Term})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AQS Create and Navigate to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AQS Create and Navigate to Quote</label>
    <loops>
        <name>Loop_Parent_Qutoes</name>
        <label>Loop Parent Qutoes</label>
        <locationX>1610</locationX>
        <locationY>1384</locationY>
        <collectionReference>Get_Parent_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Parent_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Multisite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Site</name>
        <label>Create Payment Site</label>
        <locationX>3042</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Current_User_Type_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Sites__c</field>
            <value>
                <elementReference>vDelToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Account_Site_Parent__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Multi_Site__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>NCR_Payments_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the quote and set Sales Rep to currentuser</description>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>2761</locationX>
        <locationY>639</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>is_Create_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Deliver_To_Site__c</field>
            <value>
                <elementReference>vDelToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Partner__c</field>
            <value>
                <elementReference>vPartnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>Get_Pricebook_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Pricebook_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <elementReference>Primary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SalesRep__c</field>
            <value>
                <elementReference>Sales_Rep.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>SubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Bill_To_Site__c</field>
            <value>
                <elementReference>vBillToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_MS_Parent_Payments_Solution_Text__c</field>
            <value>
                <elementReference>vParentPaymentsSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Multi_Site_Parent_Quote__c</field>
            <value>
                <elementReference>vMultisiteParentQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Multi_Site_Relationship__c</field>
            <value>
                <elementReference>vMultisiteRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Multi_Site_Type__c</field>
            <value>
                <elementReference>MultiSiteTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Multi_Site__c</field>
            <value>
                <elementReference>isMultisite.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Number_of_Sites_with_Payments__c</field>
            <value>
                <elementReference>vNumberOfSitesWithPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Partner_MDM_Enterprise_Name__c</field>
            <value>
                <elementReference>vMDMEnterpriseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Contract_End_Date__c</field>
            <value>
                <elementReference>vPaymentsContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Only_Quote__c</field>
            <value>
                <elementReference>paymentsOnlyVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Type__c</field>
            <value>
                <elementReference>DefaultPaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Quote_Name__c</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Reasons_for_no_Payment_Processing__c</field>
            <value>
                <elementReference>vReasonsForNoPayments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Ship_To_Account__c</field>
            <value>
                <elementReference>vShipToId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Order</name>
        <label>Check for Order</label>
        <locationX>478</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPrimaryQuoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>vOrdered</assignToReference>
            <field>SBQQ__Ordered__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>259</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_User_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCPQ</assignToReference>
            <field>CPQ__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPartnerId</assignToReference>
            <field>Channel_Office__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPrimaryQuoteId</assignToReference>
            <field>SBQQ__PrimaryQuote__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>793</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAcctRecTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_Type_Name</name>
        <label>Get Account Record Type Name</label>
        <locationX>911</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAcctRecTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vAcctRecTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Channel_MDM_Enterprise_Name</name>
        <label>Get Channel MDM Enterprise Name</label>
        <locationX>1438</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPartnerId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vMDMEnterpriseName</assignToReference>
            <field>MDM_Enterprise_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Quote</name>
        <label>Get Parent Quote</label>
        <locationX>2104</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_values_for_Child_AE_Only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vMultisiteParentQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Quotes</name>
        <label>Get Parent Quotes</label>
        <locationX>1608</locationX>
        <locationY>858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Quote_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Multi_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MultiSiteTypeFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_License</name>
        <label>Get Permission Set License</label>
        <locationX>53</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_License_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesforceCPQ_CPQStandardPerm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_License_Assignment</name>
        <label>Get Permission Set License Assignment</label>
        <locationX>50</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_have_CPQ_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_License.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_ID</name>
        <label>Get Pricebook ID</label>
        <locationX>2583</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Bill_To_Site</name>
        <label>Get Primary Bill To Site</label>
        <locationX>1160</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Deliver_To_Sit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSiteRecTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Bill_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vBillToId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Deliver_To_Sit</name>
        <label>Get Primary Deliver To Site</label>
        <locationX>1281</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Ship_To_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSiteRecTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Deliver_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vDelToId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDeliveryToName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Ship_To_Site</name>
        <label>Get Primary Ship To Site</label>
        <locationX>1385</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Channel_MDM_Enterprise_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSiteRecTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiptoAccountformula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Ship_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vShipToId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Record_Type_Id</name>
        <label>Get Site Record Type Id</label>
        <locationX>1041</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Bill_To_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vSiteRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>No_CPQ_License_Screen</name>
        <label>No CPQ License Screen</label>
        <locationX>270</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_License_Text</name>
            <fieldText>&lt;p&gt;You do not have the necessary license to perform this action. If you believe this is in error please contact your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Number_of_Sites_Screen</name>
        <label>Number of Sites</label>
        <locationX>1829</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Multi_Site</targetReference>
        </connector>
        <fields>
            <name>screenMessageTaxIDs1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Reminder: Tax IDs on all sites must match&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenNumberofSites1</name>
            <dataType>Number</dataType>
            <fieldText>Number of Sites with Payments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Must be at least 2 for PP Only Parent quotes and at least 1 for AE+PP Parent quotes.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
AND(
{!screenMultiSiteType} = &apos;AE+PP&apos;,
{!screenNumberofSites1} &gt;0),
AND(
{!screenMultiSiteType} = &apos;PP Only&apos;,
{!screenNumberofSites1} &gt;1
)
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payments_Only_Screen</name>
        <label>Payments Only?</label>
        <locationX>1928</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Payments_Only</targetReference>
        </connector>
        <fields>
            <name>Payments_Only</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a Payments Only quote?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Already_Ordered</name>
        <label>Quote Already Ordered</label>
        <locationX>648</locationX>
        <locationY>463</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cannot_Create</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: The Primary Quote on this Opportunity has already been &apos;Ordered&apos;. A new Quote cannot be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Get Information for Creating the Quote</description>
        <name>Quote_Info</name>
        <label>Quote Info</label>
        <locationX>1546</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Number_of_Sites_Required</targetReference>
        </connector>
        <fields>
            <name>Horizontal_Line</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Primary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>isMultisite</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Multi-Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Multi-Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Single-Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>isMultisite.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screenMultiSiteType</name>
            <choiceReferences>picklistMultiSite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multi-Site Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isMultisite.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>isI3POSChannelAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenMultiSiteType2</name>
            <choiceReferences>AE_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multi-Site Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isMultisite.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>isI3POSChannelAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenAddingToExistingSite</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adding to existing CPQ Multi-site?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vAddToExistingMS</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1 OR 2 OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>screenMultiSiteType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constMultisitetypeAEPP</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>screenMultiSiteType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constMultisiteTypeAEOnly</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>screenMultiSiteType2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>constMultisiteTypeAEOnly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fDefaultStartDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReadOnlySubTerm</name>
            <extensionName>c:FlowReadOnlyTextBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Subscription Term</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueToshow</name>
                <value>
                    <stringValue>36</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSalesUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subscription_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>36.0</numberValue>
            </defaultValue>
            <fieldText>Subscription Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSalesUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quote_Name</name>
            <dataType>String</dataType>
            <fieldText>Quote Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sales_Rep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SBQQ__SalesRep__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>currentUser</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Reject</name>
        <label>Quote Reject</label>
        <locationX>474</locationX>
        <locationY>343</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CPQ_Quote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This button is for creating quotes on CPQ Opportunities only. If this is a CPQ Opportunity please update the CPQ checkbox on the Opportunity record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenCreateParent</name>
        <label>screenCreateParent</label>
        <locationX>1429</locationX>
        <locationY>1087</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messsageCreateParent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13.3333px; color: rgb(255, 0, 0);&quot;&gt;No Parent Multi-Site quote exists that meets criteria. Please create one before creating child quotes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenMultiSite</name>
        <label>Multi-Site</label>
        <locationX>1818</locationX>
        <locationY>1080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Parent_Quote_Id_From_Screen_flow</targetReference>
        </connector>
        <fields>
            <name>Picklist_Parent_PP_or_AE_Quote</name>
            <choiceReferences>recordSetParentQuotes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Picklist Parent PP or AE Quote</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>136</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The ID of the Account</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentNoReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentsOnlyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the flow created quote</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of record passed into flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAcctRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAcctRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAddToExistingMS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the Url for the QLE navigation</description>
        <name>varQLEUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCPQ</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCreatePaymentSite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Name of Delivery To Account</description>
        <name>vDeliveryToName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDelToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMDMEnterpriseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vMultisiteParentQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMultisiteRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMultiSiteType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vNumberOfSitesWithPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOrdered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vParentPaymentsSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentQuoteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPartnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPaymentsContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vPrimaryQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vReasonsForNoPayments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vShipToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSiteRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
