force-app/main/default/flows/ATG_TEST_USAGE_BATCH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>usage_batch</name>
        <label>usage batch</label>
        <locationX>847</locationX>
        <locationY>537</locationY>
        <actionName>UsageStagingTableBatchAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>BatchName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UsageStagingTableBatch</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isSuccess</name>
        <label>isSuccess</label>
        <locationX>635</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>ERROR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>usage_batch.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAsyncApexJobs</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>2021-10-13: Adding status and progress to flow</description>
    <formulas>
        <description>Returns true if status is in Progress: Holding, Queued, Preparing, Processing</description>
        <name>isInProgressStatus</name>
        <dataType>Boolean</dataType>
        <expression>IsPickVal({!getAsyncApexJobs.Status}, &quot;Holding&quot;) ||
IsPickVal({!getAsyncApexJobs.Status}, &quot;Queued&quot;) ||
IsPickVal({!getAsyncApexJobs.Status}, &quot;Processing&quot;) ||
IsPickVal({!getAsyncApexJobs.Status}, &quot;Preparing&quot;)</expression>
    </formulas>
    <interviewLabel>ATG_TEST_USAGE_BATCH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLG Usage Staging Table Batch Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetches the Id of the Apex Class</description>
        <name>getApexBatchClass</name>
        <label>getApexBatchClass</label>
        <locationX>639</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAsyncApexJobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UsageStagingTableBatch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApexClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetches AsyncApexJob records</description>
        <name>getAsyncApexJobs</name>
        <label>getAsyncApexJobs</label>
        <locationX>641</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApexClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApexBatchClass.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>734</locationX>
        <locationY>744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>usage_batch</targetReference>
        </connector>
        <fields>
            <name>errorMessageScreen</name>
            <fieldText>&lt;p&gt;An error has occurred: {!usage_batch.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tryBatchAgainButton</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Try Running Usage Batch Again</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-align_absolute-center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>846</locationX>
        <locationY>359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>usage_batch</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status&lt;/b&gt;: {!getAsyncApexJobs.Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textLastCompletedOn</name>
            <fieldText>&lt;p&gt;Batch was last completed on {!getAsyncApexJobs.CompletedDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isInProgressStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>textLastRanOn</name>
            <fieldText>&lt;p&gt;Batch was last ran on {!getAsyncApexJobs.CreatedDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isInProgressStatus</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>startBatchButton</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Start Usage Batch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-align_absolute-center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFlowInModal</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Aborted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAsyncApexJobs.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>512</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getApexBatchClass</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
