force-app/main/default/flows/Automate_campaign_assignment_when_Call_type_of_Lead_is_created_or_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Campaign_Member</name>
        <label>Check Campaign Member</label>
        <locationX>730</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckDuplicateRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMem.CampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.a2021_MarketingInboundCalls_Campaign_Hospitality</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CampaignMember</targetReference>
            </connector>
            <label>CheckDuplicateRecord</label>
        </rules>
    </decisions>
    <description>When Sales Rep with Profiles &quot;Hosp SMB Sales&quot; and &quot;Hosp SMB Sales with Hosted&quot; creates a lead with the lead source &quot;Phone Inquiry&quot; then the lead should automatically be assigned to the Campaign &quot;2021_MarketingInboundCalls_Campaign_Hospitality&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Automate campaign assignment when &apos;Call&apos; type of Lead is created or updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate campaign assignment when Lead Source is &apos;Phone Inquiry&apos; is created or updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CampaignMember</name>
        <label>Create CampaignMember</label>
        <locationX>482</locationX>
        <locationY>436</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Label.a2021_MarketingInboundCalls_Campaign_Hospitality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCampaignMem</name>
        <label>GetCampaignMem</label>
        <locationX>946</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.a2021_MarketingInboundCalls_Campaign_Hospitality</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>131</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>GetCampaignMem</targetReference>
        </connector>
        <filterFormula>AND( OR({!$Record.RecordType.Id} = &apos;012700000001S2WAAU&apos;,{!$Record.RecordType.Id} = &apos;012700000001S2WAAU&apos;),{!$Setup.Automation_Setting__c.Skip_Flow__c} = false ,ISPICKVAL({!$Record.LeadSource}, &apos;Phone Inquiry&apos;), ISPICKVAL({!$Record.Industry__c}, &apos;Hospitality&apos;) )</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
