force-app/main/default/flows/BLG_Usage_Summary_on_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Set fields on the usage summary record</description>
        <name>Set_Usage_Summary_Fields</name>
        <label>Set Usage Summary Fields</label>
        <locationX>202</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__MatchingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaMatchingId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Usage_Summary</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>Matching ID = MCN + FUA + PID + Order Product ID

*MCN:*Order.qtc_Master_Customer_Number__c
FUA: Order.qtc_Deliver_To_Site_Number__c 
PID: Product2.ProductCode
Order Product ID: We’ll use Order Product ID for now, and update to Fulfillment Order ID once Dev Complete.</description>
        <name>formulaMatchingId</name>
        <dataType>String</dataType>
        <expression>{!Get_Order.qtc_Master_Customer_Number__c}+&apos;:&apos;+{!Get_Order.qtc_Deliver_To_Site_Number__c}+&apos;:&apos;+{!Get_Order_Product.Product2.ProductCode}+&apos;:&apos;+{!$Record.blng__OrderProduct__c}</expression>
    </formulas>
    <interviewLabel>BLG Usage Summary on Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLG Usage Summary on Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>200</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>201</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Usage_Summary_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Usage_Summary</name>
        <label>Update Usage Summary</label>
        <locationX>200</locationX>
        <locationY>780</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>formulaMatchingId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__MatchingId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
