force-app/main/default/flows/BLG_Contract_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>176</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>$Record.qtc_Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.qtc_Bill_To_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.qtc_Deliver_To_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Deliver_To_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.qtc_PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Order__r.qtc_PO_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>What_is_Order_Type</name>
        <label>What is Order Type</label>
        <locationX>368</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Type_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields</targetReference>
            </connector>
            <label>Order Type Is New</label>
        </rules>
    </decisions>
    <description>SFCPQBLG-699 ATG - 30-Nov-21 - Changed updates to Assignments
SFCPQBLG-378: Update Bill To Site from Order and Update Deliver To Site from Order</description>
    <environments>Default</environments>
    <interviewLabel>BLG Contract On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLG Contract on Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>379</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Update_Fields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Bill_To_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>qtc_Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.qtc_Bill_To_Site__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_0</name>
        <label>Update Fields</label>
        <locationX>565</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Update_Fields_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Deliver_To_Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>qtc_Deliver_To_Site__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Deliver_To_Site__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_0_0</name>
        <label>Update Fields</label>
        <locationX>725</locationX>
        <locationY>507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_PO_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>qtc_PO_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.qtc_PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Set_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
NOT({!$Setup.Automation_Setting__c.Skip_Flow__c}),
{!$Record.CATM_Record__c}=false,
{!$Record.SBQQ__Order__c}&lt;&gt;null
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
