force-app/main/default/flows/CATM_Opportunity_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>change_catm_record_to_false</name>
        <label>change catm record to false</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CATM_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_CATM_Sales_Stage</name>
        <label>Clear CATM Sales Stage</label>
        <locationX>2261</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.CATM_Sales_Stage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Owner_Has_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_in_year_revenue_zero</name>
        <label>Put in-year revenue zero</label>
        <locationX>1172</locationX>
        <locationY>5195</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Override_Set_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Date</name>
        <label>Set Closed Date and Mgr Forecast</label>
        <locationX>545</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTodayFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CATM_Sales_Stage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reoccurring_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue</name>
        <label>Set In Year Revenue</label>
        <locationX>1370</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InYearGreaterThan12Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue4</name>
        <label>Set In Year Revenue</label>
        <locationX>314</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanadaNewLess12Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue5</name>
        <label>Set In Year Revenue</label>
        <locationX>578</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanadaNewGreater12Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue6</name>
        <label>Set In Year Revenue</label>
        <locationX>842</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanadaExistingLess12Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue6_0</name>
        <label>Set In Year Revenue</label>
        <locationX>1106</locationX>
        <locationY>4763</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanadaExisitingGreater12Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue_0</name>
        <label>Set In Year Revenue</label>
        <locationX>1898</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_In_Year_Revenue_0_0</name>
        <label>Set In Year Revenue</label>
        <locationX>1634</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Year_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncrementalACVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_in_year_revenue_is_negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invoice_Trigger_to_Other</name>
        <label>Set Invoice Trigger to Other</label>
        <locationX>1601</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_Opp_Selling_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Monthly_Revenue_Amount</name>
        <label>Set Monthly Revenue Amount</label>
        <locationX>1601</locationX>
        <locationY>2291</locationY>
        <assignmentItems>
            <assignToReference>$Record.Monthly_Revenue_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CATMMonthlyValueAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Time_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_ACV</name>
        <label>Set New ACV</label>
        <locationX>1667</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>$Record.Annual_Contract_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_Revenue_Fields_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_ACV_0</name>
        <label>Set New ACV</label>
        <locationX>1403</locationX>
        <locationY>4091</locationY>
        <assignmentItems>
            <assignToReference>$Record.Annual_Contract_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanadaACVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_Revenue_Fields_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Time_Revenue</name>
        <label>Set One Time Revenue</label>
        <locationX>1601</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.One_Time_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.One_Time_Revenue_OLI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Total_Withdrawal_Transaction_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overall_Contract_Value</name>
        <label>Set Overall Contract Value</label>
        <locationX>1172</locationX>
        <locationY>5531</locationY>
        <assignmentItems>
            <assignToReference>$Record.Overall_Contract_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverallContractFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Owner_Manager_Email</name>
        <label>Set Owner Manager Email</label>
        <locationX>2129</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reoccurring_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_Manager_Email_0_0</name>
        <label>Set Owner Manager Email</label>
        <locationX>2393</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesupport@cardtronics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reoccurring_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Probability</name>
        <label>Set Probability</label>
        <locationX>1733</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CATM_Sales_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Probability</name>
        <label>Set Sales Probability</label>
        <locationX>1073</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CATM_Sales_Stage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Reoccurring_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Probability_0</name>
        <label>Set Sales Probability</label>
        <locationX>809</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>95.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CATM_Sales_Stage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Reoccurring_Revenue_OLI_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sales_Program_to_None</name>
        <label>Set Sales Program to None</label>
        <locationX>1601</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Invoice_Trigger_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selling_Stage_to_Analyzing</name>
        <label>Set Selling Stage to Analyzing</label>
        <locationX>1337</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyzing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Forecast_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Owner_Has_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Surchanged_Transactions_per_Month</name>
        <label>Set Total Surchanged Transactions per Month</label>
        <locationX>1601</locationX>
        <locationY>3635</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Surcharged_Transactions_per_Mth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Surcharged_Trans_OLI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_Annual_Contract_Value_Fields_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Transactions_per_Month</name>
        <label>Set Total Transactions per Month</label>
        <locationX>1601</locationX>
        <locationY>3299</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Transactions_per_Mth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Transactions_OLI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Total_Surcharged_Trans_OLI_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_Withdrawal_Transactions_per_Month</name>
        <label>Set Total Withdrawal Transactions per Month</label>
        <locationX>1601</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Withdrawal_Transactions_per_MTH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Withdrawal_Trans_OLI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Total_Transactions_OLI_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CATM Sales Stage auto populated when left null</description>
        <name>Upd_CATM_Sales_Stage</name>
        <label>Upd CATM Sales Stage</label>
        <locationX>1601</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.CATM_Sales_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Submitted &amp; In Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Owner_Has_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_Manager_Name</name>
        <label>Update Owner Manager Name</label>
        <locationX>1601</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Manager_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppOwnerManagerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sales_Program_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CATM_Sales_Stage</name>
        <label>CATM Sales Stage</label>
        <locationX>1733</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Owner_Has_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_CATM_Sales_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CATM_Sales_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_CATM_Sales_Stage</targetReference>
            </connector>
            <label>Check CATM Sales Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_in_year_revenue_is_negative</name>
        <label>Check if in year revenue is negative</label>
        <locationX>1304</locationX>
        <locationY>5075</locationY>
        <defaultConnector>
            <targetReference>Is_Override_Set_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_in_year_revenue_negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.In_Year_Revenue__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_in_year_revenue_zero</targetReference>
            </connector>
            <label>If in-year revenue negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_opp_owner_changed_from_non_catm_to_catm</name>
        <label>Check if opp owner changed from catm to non catm</label>
        <locationX>891</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>If_Owner_Manager_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_owner_changed_catm_to_non_catm</name>
            <conditionLogic>NOT(1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CATM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner.Profile.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CATM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_catm_record_to_false</targetReference>
            </connector>
            <label>if owner changed catm to non catm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Owner_Has_Manager</name>
        <label>Confirm Owner Has Manager</label>
        <locationX>2261</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Set_Owner_Manager_Email_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Manager</defaultConnectorLabel>
        <rules>
            <name>Has_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Manager_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Owner.Manager.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_Manager_Email</targetReference>
            </connector>
            <label>Has Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Terms_Months_Length</name>
        <label>Contract Terms Months Length</label>
        <locationX>1304</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Set_In_Year_Revenue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Canada_IBG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBG (Core)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_and_Length_of_Contract</targetReference>
            </connector>
            <label>Canada IBG</label>
        </rules>
        <rules>
            <name>Great_or_Equal_to_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Year_Revenue</targetReference>
            </connector>
            <label>Great or Equal to 12</label>
        </rules>
        <rules>
            <name>Less_than_months_left_in_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MonthsAfterExpectedStartDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Year_Revenue_0_0</targetReference>
            </connector>
            <label>Less than months left in year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Total_Surcharged_Trans_OLI_Changed</name>
        <label>Has Total Surcharged Trans OLI Changed</label>
        <locationX>1733</locationX>
        <locationY>3515</locationY>
        <defaultConnector>
            <targetReference>Have_Annual_Contract_Value_Fields_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Surcharged_Trans_OLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Surcharged_Trans_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Surcharged_Trans_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Surchanged_Transactions_per_Month</targetReference>
            </connector>
            <label>Total Surcharged Trans OLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Total_Transactions_OLI_Changed</name>
        <label>Has Total Transactions OLI Changed</label>
        <locationX>1733</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Has_Total_Surcharged_Trans_OLI_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Transactions_OLI_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Transactions_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Transactions_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Transactions_per_Month</targetReference>
            </connector>
            <label>Total Transactions OLI Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Total_Withdrawal_Transaction_Changed</name>
        <label>Has Total Withdrawal Transaction Changed</label>
        <locationX>1733</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>Has_Total_Transactions_OLI_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Withdrawal_Transaction_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Withdrawal_Trans_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Withdrawal_Trans_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Withdrawal_Transactions_per_Month</targetReference>
            </connector>
            <label>Total Withdrawal Transaction Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Annual_Contract_Value_Fields_Changed</name>
        <label>Have Annual Contract Value Fields Changed</label>
        <locationX>1733</locationX>
        <locationY>3851</locationY>
        <defaultConnector>
            <targetReference>Have_Revenue_Fields_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACV Fields Not Changed</defaultConnectorLabel>
        <rules>
            <name>ACV_Fields_Changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reoccurring_Revenue_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Reoccurring_Revenue_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.One_Time_Revenue_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.One_Time_Revenue_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Override_Product_Calculations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Canada_IBG</targetReference>
            </connector>
            <label>ACV Fields Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If any of the revenue fields involved in updating In Year Revenue, Overall Contract Value are changed</description>
        <name>Have_Revenue_Fields_Changed</name>
        <label>Have Revenue Fields Changed</label>
        <locationX>1733</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revenue_Fields_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Old_Contract_ACV__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Annual_Contract_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Service_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Override_Product_Calculations__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.One_Time_Revenue_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.One_Time_Revenue_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.One_Time_Revenue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reporting_Geography__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Revenue_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Monthly_Revenue_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Terms_Months_Length</targetReference>
            </connector>
            <label>Revenue Fields Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Owner_Manager_Not_Null</name>
        <label>If Owner Manager Not Null</label>
        <locationX>1733</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Sales_Program_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Owner_Manager_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Manager_Name</targetReference>
            </connector>
            <label>Owner Manager Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Canada_IBG</name>
        <label>Is Canada IBG?</label>
        <locationX>1535</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Set_New_ACV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_and_IBG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Geography__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IBG (Core)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_ACV_0</targetReference>
            </connector>
            <label>Canada and IBG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Trigger_Null</name>
        <label>Is Invoice Trigger Null</label>
        <locationX>1733</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>What_Opp_Selling_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice Trigger Populated</defaultConnectorLabel>
        <rules>
            <name>Invoice_Trigger_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Trigger__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invoice_Trigger_to_Other</targetReference>
            </connector>
            <label>Invoice Trigger Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Override_Set_to_False</name>
        <label>Is Override Set to False</label>
        <locationX>1304</locationX>
        <locationY>5411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Override_is_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_Product_Calculations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Overall_Contract_Value</targetReference>
            </connector>
            <label>Override is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Program_Null</name>
        <label>Is Sales Program Null</label>
        <locationX>1733</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Is_Invoice_Trigger_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Program Populated</defaultConnectorLabel>
        <rules>
            <name>Sales_Program_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Program_to_None</targetReference>
            </connector>
            <label>Sales Program Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Time_Revenue_OLI_is_Changed</name>
        <label>One Time Revenue OLI is Changed</label>
        <locationX>1733</locationX>
        <locationY>2507</locationY>
        <defaultConnector>
            <targetReference>Has_Total_Withdrawal_Transaction_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Time_OLI_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.One_Time_Revenue_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.One_Time_Revenue_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Override_Product_Calculations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_One_Time_Revenue</targetReference>
            </connector>
            <label>One Time OLI Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reoccurring_Revenue_OLI_is_Changed</name>
        <label>Reoccurring Revenue OLI is Changed</label>
        <locationX>1733</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>One_Time_Revenue_OLI_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_Reoccurring_Rev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reoccurring_Revenue_OLI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Reoccurring_Revenue_OLI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Override_Product_Calculations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Revenue_Amount</targetReference>
            </connector>
            <label>Updated Reoccurring Rev</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_and_Length_of_Contract</name>
        <label>Type and Length of Contract</label>
        <locationX>710</locationX>
        <locationY>4643</locationY>
        <defaultConnector>
            <targetReference>Set_In_Year_Revenue6_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Greater Than 12</defaultConnectorLabel>
        <rules>
            <name>New_Less_Than_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Year_Revenue4</targetReference>
            </connector>
            <label>New Less Than 12</label>
        </rules>
        <rules>
            <name>New_Greater_than_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Year_Revenue5</targetReference>
            </connector>
            <label>New Greater than 12</label>
        </rules>
        <rules>
            <name>Existing_Less_Than_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer - Service Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Term_Mths__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Year_Revenue6</targetReference>
            </connector>
            <label>Existing Less Than 12</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Opp_Selling_Stage</name>
        <label>What Opp Selling Stage</label>
        <locationX>1733</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirm_Owner_Has_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Date</targetReference>
            </connector>
            <label>Closed/Lost</label>
        </rules>
        <rules>
            <name>Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Probability_0</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
        <rules>
            <name>Closed_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sales_Probability</targetReference>
            </connector>
            <label>Closed/Booked</label>
        </rules>
        <rules>
            <name>Prospecting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selling_Stage_to_Analyzing</targetReference>
            </connector>
            <label>Prospecting</label>
        </rules>
        <rules>
            <name>Proposing_was_Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Probability</targetReference>
            </connector>
            <label>Proposing was Closing</label>
        </rules>
        <rules>
            <name>Offering_Was_Proposing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CATM_Sales_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CATM_Sales_Stage</targetReference>
            </connector>
            <label>Offering Was Proposing</label>
        </rules>
        <rules>
            <name>Proposing_and_CATM_Sales_Stage_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CATM_Sales_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Upd_CATM_Sales_Stage</targetReference>
            </connector>
            <label>Proposing and CATM Sales Stage is Null</label>
        </rules>
    </decisions>
    <description>Updates Closed Date, Sales Probability, Owner Manager Email based on Selling Stage. Updates Monthly Revenue when Reoccurring Revenue OLI is updated.

12/15/22 - Updated In Year Revenue Calculation to calc only when Expected Book Date Year  = Expected Service Start Date Year.
               - Removed Canada-IBG check from ACV Calcualtion decision.</description>
    <environments>Default</environments>
    <formulas>
        <name>ACVFormula</name>
        <dataType>Currency</dataType>
        <expression>If ({!$Record.Contract_Term_Mths__c} &gt;= 12,
(({!$Record.Reoccurring_Revenue_OLI__c} + {!$Record.One_Time_Revenue_OLI__c} ) / ({!$Record.Contract_Term_Mths__c}) *12),
({!$Record.Reoccurring_Revenue_OLI__c} + {!$Record.One_Time_Revenue_OLI__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ACVUpdateCheckBoxFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISPICKVAL({!$Record.Reporting_Geography__c} ,&quot;CANADA&quot;) &amp;&amp; CONTAINS( {!$Record.Business_Unit__c} ,&quot;IBG&quot;),TRUE,FALSE )</expression>
    </formulas>
    <formulas>
        <name>CanadaACVFormula</name>
        <dataType>Currency</dataType>
        <expression>If ({!$Record.Contract_Term_Mths__c} &gt;= 12,(({!$Record.Reoccurring_Revenue_OLI__c} / {!$Record.Contract_Term_Mths__c}) * 12) + ({!$Record.One_Time_Revenue_OLI__c}),({!$Record.Reoccurring_Revenue_OLI__c}) + ({!$Record.One_Time_Revenue_OLI__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CanadaExisitingGreater12Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}),  
(((12 - MONTH( {!$Record.Expected_Service_Start_Date__c} )) * ( {!$Record.Reoccurring_Revenue_OLI__c} / {!$Record.Contract_Term_Mths__c})) - ((12 - MONTH( {!$Record.Expected_Service_Start_Date__c} )) * ({!$Record.Old_Contract_ACV__c}/12)) + {!$Record.One_Time_Revenue_OLI__c}),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CanadaExistingLess12Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}), 
(({!$Record.Reoccurring_Revenue_OLI__c} ) - ({!$Record.Old_Contract_ACV__c})) + {!$Record.One_Time_Revenue_OLI__c},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CanadaNewGreater12Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}), 
 (((12 - MONTH( {!$Record.Expected_Service_Start_Date__c})) * ( {!$Record.Reoccurring_Revenue_OLI__c} / {!$Record.Contract_Term_Mths__c})) + {!$Record.One_Time_Revenue_OLI__c}),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CanadaNewLess12Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}),  
{!$Record.Reoccurring_Revenue_OLI__c} + {!$Record.One_Time_Revenue_OLI__c}, 
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CATMMonthlyValueAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Reoccurring_Revenue_OLI__c} / {!$Record.Contract_Term_Mths__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Rebuild formula field to use in before save flow

If(ISPICKVAL(Type, &quot;Existing Customer - Service Renewal&quot;) &amp;&amp; Old_Contract_ACV__c = 0 , 0, Annual_Contract_Value__c - Old_Contract_ACV__c)</description>
        <name>IncrementalACVFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}), 
IF (ISPICKVAL({!$Record.Type},&quot;Existing Customer - Service Renewal&quot;) &amp;&amp; {!$Record.Old_Contract_ACV__c} =0,
0,
IF( ISBLANK({!$Record.Old_Contract_ACV__c}),
{!$Record.Annual_Contract_Value__c},
{!$Record.Annual_Contract_Value__c} - {!$Record.Old_Contract_ACV__c}
)
),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InYearGreaterThan12Formula</name>
        <dataType>Currency</dataType>
        <expression>IF(YEAR({!$Record.CloseDate}) = YEAR({!$Record.Expected_Service_Start_Date__c}),
(12 - MONTH ( {!$Record.Expected_Service_Start_Date__c} ) )* ({!IncrementalACVFormula}/12),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MonthsAfterExpectedStartDateFormula</name>
        <dataType>Number</dataType>
        <expression>12 - MONTH( {!$Record.Expected_Service_Start_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OppOwnerManagerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.Manager.FirstName} &amp; &quot; &quot; &amp;  {!$Record.Owner.Manager.LastName}</expression>
    </formulas>
    <formulas>
        <name>OverallContractFormula</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Reoccurring_Revenue_OLI__c} +  IF(NOT(ISBLANK({!$Record.One_Time_Revenue__c})),{!$Record.One_Time_Revenue__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTodayFormula</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>CATM Opportunity Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CATM Opportunity Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>765</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_opp_owner_changed_from_non_catm_to_catm</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Setup.Automation_Setting__c.Skip_Flow__c}),
{!$Record.CATM_Record__c}
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
