force-app/main/default/flows/cec_contact_add_to_campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>check_if_contact_already_there_in_campaign</name>
        <label>check if contact already there in campaign</label>
        <locationX>373</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_campaign_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Attendee_from_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_contact_to_campaign</targetReference>
            </connector>
            <label>check for campaign member</label>
        </rules>
    </decisions>
    <interviewLabel>cec contact add to campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cec contact add to campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_contact_to_campaign</name>
        <label>Add contact to campaign</label>
        <locationX>636</locationX>
        <locationY>318</locationY>
        <inputAssignments>
            <field>CEC_Meeting__c</field>
            <value>
                <elementReference>$Record.CEC_Meeting__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Id_custom_metadata.IDs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Attendee_Name_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Attendee_from_Campaign</name>
        <label>Get All Attendee from Campaign</label>
        <locationX>218</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_contact_already_there_in_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_custom_metadata.IDs__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Attendee_Name_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get id of campaign from custom metadata</description>
        <name>Id_custom_metadata</name>
        <label>Id custom metadata</label>
        <locationX>59</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Attendee_from_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEC_Campaign_id</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ID_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>59</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Id_custom_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendee_Name_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CEC_Attendees__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
