force-app/main/default/flows/CheckCaddAccountManagerStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValuetoCadd</name>
        <label>AssignValuetoCadd</label>
        <locationX>789</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>$Record.isAccountManagerActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountManagerStatus.IsActive</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckNullValues</name>
        <label>CheckNullValues</label>
        <locationX>407</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForNotNullValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReadShareWithUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReadShareWithUser__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_In_Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountManagerStatus</targetReference>
            </connector>
            <label>CheckForNotNullValues</label>
        </rules>
    </decisions>
    <interviewLabel>CheckCaddAccountManagerStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckCaddAccountManagerStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountManagerStatus</name>
        <label>getAccountManagerStatus</label>
        <locationX>644</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignValuetoCadd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReadShareWithUser__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Store_Do_Not_Reply_User_Id</name>
        <label>Store Do Not Reply User Id</label>
        <locationX>227</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNullValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Do_Not_Reply_User_Id__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Store_Do_Not_Reply_User_Id</targetReference>
        </connector>
        <object>Deming__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
