force-app/main/default/flows/Check_Acces_of_CPQ_Functionality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Does_CPQ_Permission_Set_Group_and_License_Exits</name>
        <label>Does CPQ Permission Set Group and License Exits</label>
        <locationX>1848</locationX>
        <locationY>1238</locationY>
        <defaultConnectorLabel>Does not exits</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPQ_Permission_Set_Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQ_Permission_Set_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPQ_AA_Permission_Set_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CPQ_Checkbox_Set</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_CPQ_Licenses</name>
        <label>Has User CPQ Licenses ?</label>
        <locationX>776</locationX>
        <locationY>1478</locationY>
        <defaultConnectorLabel>Has Access</defaultConnectorLabel>
        <rules>
            <name>Has_Not_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_User_has_AA_CPQ_License_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPQ_Permission_Set_License</targetReference>
            </connector>
            <label>Has Not Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_CPQ_Licenses_0</name>
        <label>Has User CPQ Licenses ?</label>
        <locationX>1766</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Has Not Access</defaultConnectorLabel>
        <rules>
            <name>Has_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_License</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_User_has_AA_CPQ_License_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_CPQ_Permission_Set_License</targetReference>
            </connector>
            <label>Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CPQ_Checkbox_Set</name>
        <label>Is CPQ Checkbox Set ?</label>
        <locationX>1271</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_Partner_User_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked Yet</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record_details.CPQ_Pilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_User_CPQ_Licenses</targetReference>
            </connector>
            <label>Yes It is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Partner_User</name>
        <label>Is it a Partner User ?</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>User_has_CPQ_User_PS_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record_details.UserType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Record_details.UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_has_Partner_PS_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Partner_User_0</name>
        <label>Is it a Partner User ?</label>
        <locationX>1766</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>User_has_CPQ_User_PS_Group_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Record_details.UserType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Record_details.UserType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_has_Partner_PS_Group_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_has_Partner_PS_Group</name>
        <label>Partner has Partner PS Group ?</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_Partner_PS_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPQ_Permissions_Set_Group_To_Partner</targetReference>
            </connector>
            <label>Has not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_has_Partner_PS_Group_0</name>
        <label>Partner has Partner PS Group ?</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_Partner_PS_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_CPQ_Permission_Set_Group_from_Partner_0</targetReference>
            </connector>
            <label>Yes,Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_CPQ_User_PS_Group</name>
        <label>User has CPQ User PS Group ?</label>
        <locationX>710</locationX>
        <locationY>1958</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_User_PS_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPQ_Permissions_Set_Group_To_User</targetReference>
            </connector>
            <label>Has,Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_CPQ_User_PS_Group_0</name>
        <label>User has CPQ User PS Group ?</label>
        <locationX>2030</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_has_CPQ_User_PS_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_CPQ_Permission_Set_Group_from_User</targetReference>
            </connector>
            <label>Yes,Has</label>
        </rules>
    </decisions>
    <interviewLabel>Check Acces of CPQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Acces of CPQ Functionality</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_CPQ_AA_Permission_Set_License</name>
        <label>Assign CPQ AA Permission Set License</label>
        <locationX>446</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Is_it_a_Partner_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>Get_CPQ_AA_Permission_Set_License.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_CPQ_Permission_Set_License</name>
        <label>Assign CPQ Permission Set License</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Assign_CPQ_AA_Permission_Set_License</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetLicenseId</field>
            <value>
                <elementReference>Get_CPQ_Permission_Set_License.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_CPQ_Permissions_Set_Group_To_Partner</name>
        <label>Assign CPQ Permissions Set Group To Partner</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_CPQ_Partner_Permission_Set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Assign_CPQ_Permissions_Set_Group_To_User</name>
        <label>Assign CPQ Permissions Set Group To User</label>
        <locationX>578</locationX>
        <locationY>2078</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Get_CPQ_Permission_Set_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Revoke_CPQ_AA_Permission_Set_License_from_Partner</name>
        <label>Revoke CPQ AA Permission Set License from Partner</label>
        <locationX>1634</locationX>
        <locationY>2270</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_AA_Permission_Set_License.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetLicenseAssign</object>
    </recordDeletes>
    <recordDeletes>
        <name>Revoke_CPQ_Permission_Set_Group_from_Partner_0</name>
        <label>Revoke CPQ Permission Set Group from Partner</label>
        <locationX>1370</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Has_User_CPQ_Licenses_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Partner_Permission_Set_Group.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordDeletes>
        <name>Revoke_CPQ_Permission_Set_Group_from_User</name>
        <label>Revoke CPQ Permission Set Group from User</label>
        <locationX>1898</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Has_User_CPQ_Licenses_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Permission_Set_Group.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordDeletes>
        <name>Revoke_CPQ_Permission_Set_License</name>
        <label>Revoke CPQ Permission Set License</label>
        <locationX>1634</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Revoke_CPQ_AA_Permission_Set_License_from_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Permission_Set_License.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetLicenseAssign</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_User_has_AA_CPQ_License_0</name>
        <label>Check User has AA CPQ License</label>
        <locationX>1848</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_has_CPQ_User_PS_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_AA_Permission_Set_License.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_User_has_CPQ_License</name>
        <label>Check User has CPQ License</label>
        <locationX>1848</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_has_AA_CPQ_License_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Permission_Set_License.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicenseAssign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_User_has_CPQ_Partner_PS_Group</name>
        <label>Check User has CPQ Partner PS Group</label>
        <locationX>1848</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_CPQ_Permission_Set_Group_and_License_Exits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Partner_Permission_Set_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_User_has_CPQ_User_PS_Group</name>
        <label>Check User has CPQ User PS Group</label>
        <locationX>1848</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_has_CPQ_Partner_PS_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CPQ_Permission_Set_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Record_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_AA_Permission_Set_License</name>
        <label>Get CPQ AA Permission Set License</label>
        <locationX>1848</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_has_CPQ_License</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesforceCPQ_CPQAAPerm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PL4u000000kANuGAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_Partner_Permission_Set_Group</name>
        <label>Get CPQ Partner Permission Set Group</label>
        <locationX>1848</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPQ_Permission_Set_License</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ_Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS4u000000jvDqGAI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_Permission_Set_Group</name>
        <label>Get CPQ Permission Set Group</label>
        <locationX>1848</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPQ_Partner_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS4u000000jvDrGAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPQ_Permission_Set_License</name>
        <label>Get CPQ Permission Set License</label>
        <locationX>1848</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPQ_AA_Permission_Set_License</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesforceCPQ_CPQStandardPerm</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PL4u000000kANxGAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_Record_details</name>
        <label>User Record details</label>
        <locationX>1848</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPQ_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1722</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Record_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
