force-app/main/default/flows/Close_Related_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>All_related_cases_updated</name>
        <label>All related cases updated</label>
        <locationX>50</locationX>
        <locationY>3662</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Remain_on_incident</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Related cases have been Updated.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Remain_on_incident</name>
        <label>Remain on incident</label>
        <locationX>50</locationX>
        <locationY>3782</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_All_Details</name>
        <label>Assign All Details</label>
        <locationX>270</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Resolution_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Creation_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>creationCategory.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Creation_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreationCatOtherReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Resolution_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolutionCategory.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Resolution_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResolutionCatOtherReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Category_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Category_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Closed_Details_fill_loop.Hospitality_Validation_Rule_Bypass_flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Record</name>
        <label>Assign Case Record</label>
        <locationX>270</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>CaseResordsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closed_Details_fill_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Details_fill_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_cat_reason_Assignment</name>
        <label>Creation cat reason Assignment</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>CreationCatOtherReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creation_Category_Other_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resolution_Category_Contains_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolution_cat_reason_Assignment</name>
        <label>Resolution cat reason Assignment</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>ResolutionCatOtherReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Category_Other_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Details_fill_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Storing_Case_Id</name>
        <label>Storing Case Id</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CaseIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Storing_Case_Id_in_Separate_Variable.CaseId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Storing_Case_Id_in_Separate_Variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CaseNoLongerNeeded</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case No Longer Needed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case No Longer Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerResponseRequired</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Customer Response Required&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Response Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>SupportImplementedFix</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Support Implemented Fix&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Implemented Fix</stringValue>
        </value>
    </choices>
    <choices>
        <name>SupportReferredtoResolverGroup</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Support Referred to Resolver Group&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Referred to Resolver Group</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CaseUpdateRecord_Null_check</name>
        <label>CaseUpdateRecord Null check</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseUpdateRecord_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseResordsUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseRecords</targetReference>
            </connector>
            <label>CaseUpdateRecord not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Category_Name_Contains_Other</name>
        <label>Creation Category Name Contains Other</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Resolution_Category_Contains_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CC_Contains_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creation_Category_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Category_other_Screen</targetReference>
            </connector>
            <label>CC Contains Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Having_Cases_Not_Closed</name>
        <label>Having Cases Not Closed</label>
        <locationX>380</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>None_open_cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_are_some_Case_which_is_not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Related_Cases_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_Group_screen</targetReference>
            </connector>
            <label>There are some Case which is not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Cases</name>
        <label>Related Cases</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>NoneRelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Related_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Incident_Relationship_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Storing_Case_Id_in_Separate_Variable</targetReference>
            </connector>
            <label>Have Related Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolution_Category_Contains_Other</name>
        <label>Resolution Category Contains Other</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Closed_Details_fill_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RC_contains_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resolution_Category_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Category_other_Screen</targetReference>
            </connector>
            <label>RC contains Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_have_permission_Set_or_Not</name>
        <label>User have permission Set or Not</label>
        <locationX>858</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>PermissionSetNotAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Incident_User_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Cases</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <description>This contains logic to close all cases that are related to incident through Case incident Relationship</description>
    <dynamicChoiceSets>
        <name>CategoriesGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category_Group__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Close Related Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Related Cases</label>
    <loops>
        <name>Closed_Details_fill_loop</name>
        <label>Closed Details fill loop</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <collectionReference>Closed_Related_Cases_Check</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_All_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CaseUpdateRecord_Null_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Storing_Case_Id_in_Separate_Variable</name>
        <label>Storing Case Id in Separate Variable</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <collectionReference>Case_Incident_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Storing_Case_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RelatedCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_Incident_Relationship_Records</name>
        <label>Case Incident Relationship Records</label>
        <locationX>858</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_have_permission_Set_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Incident_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Closed_Related_Cases_Check</name>
        <label>Closed Related Cases Check</label>
        <locationX>380</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Having_Cases_Not_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Creation_Category_Record</name>
        <label>Creation Category Record</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resolution_Category_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>creationCategory.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Creation_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Incident_User_Permission_Set</name>
        <label>Incident User Permission Set</label>
        <locationX>858</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incident_User_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospitality Incident User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Incident_User_Permission_Set_Assignment</name>
        <label>Incident User Permission Set Assignment</label>
        <locationX>858</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Incident_User_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>858</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Incident_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospitality Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RelatedCases</name>
        <label>RelatedCases</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_Related_Cases_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resolution_Category_Record</name>
        <label>Resolution Category Record</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_Category_Name_Contains_Other</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResolutionCategory.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Resolution_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRecords</name>
        <label>UpdateCaseRecords</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>All_related_cases_updated</targetReference>
        </connector>
        <inputReference>CaseResordsUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Category_Group_screen</name>
        <label>Category Group screen</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Category_Group</name>
            <choiceReferences>CategoriesGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Category Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creation_Category_other_Screen</name>
        <label>Creation Category other Screen</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creation_cat_reason_Assignment</targetReference>
        </connector>
        <fields>
            <name>Creation_Category_Other_Reason</name>
            <dataType>String</dataType>
            <fieldText>Creation Category Other Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_Screen</name>
        <label>Details Screen</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creation_Category_Record</targetReference>
        </connector>
        <fields>
            <name>Status_Reason</name>
            <choiceReferences>SupportImplementedFix</choiceReferences>
            <choiceReferences>SupportReferredtoResolverGroup</choiceReferences>
            <choiceReferences>CustomerResponseRequired</choiceReferences>
            <choiceReferences>CaseNoLongerNeeded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Notes</name>
            <dataType>String</dataType>
            <fieldText>Resolution Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>creationCategory</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>creation_category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Search Creation Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Category_Group__c = &apos;{!Select_Category_Group}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>creationCategory.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ResolutionCategory</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>resolution_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Search Resolution Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Category_Group__c = &apos;{!Select_Category_Group}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>ResolutionCategory.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>None_open_cases</name>
        <label>None open cases</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoneOpenCasesInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(228, 22, 22);&quot;&gt;All Cases related to this Incident are already Closed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoneRelatedCases</name>
        <label>NoneRelatedCases</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoneRelatedCasesInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(228, 22, 22);&quot;&gt;You don&apos;t have any cases related to this incident.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PermissionSetNotAssigned</name>
        <label>PermissionSetNotAssigned</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAssignedInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(202, 26, 26);&quot;&gt;Sorry, You don&apos;t have the right Access.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resolution_Category_other_Screen</name>
        <label>Resolution Category other Screen</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resolution_cat_reason_Assignment</targetReference>
        </connector>
        <fields>
            <name>Resolution_Category_Other_Reason</name>
            <dataType>String</dataType>
            <fieldText>Resolution Category Other Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Incident_User_Permission_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseResordsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CreationCatOtherReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResolutionCatOtherReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
