force-app/main/default/flows/Copado_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Cert_in_progress</name>
        <label>Cert in progress</label>
        <locationX>1018</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress - CERT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment would change Promotion Test level picklist to &quot;RunSpecifiedTest&quot; whenever User story build has apex code and the picklist value isn&apos;t equal to &quot;RunSpecifiedTest&quot; value.</description>
        <name>Change_Test_level_to_run_specified_test</name>
        <label>Change Test level to run specified test</label>
        <locationX>1018</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promotion_Test_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RunSpecifiedTests</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>change_to_draft</name>
        <label>change to draft</label>
        <locationX>2250</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deployed_to_Cert_Assignment</name>
        <label>Deployed to Cert Assignment</label>
        <locationX>1282</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed To Cert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>deployed_to_preprod</name>
        <label>deployed to preprod</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed To PreProd</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>deployed_to_prod</name>
        <label>deployed to prod</label>
        <locationX>1986</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed To Production</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>deployed_to_staging_assignment</name>
        <label>deployed to staging assignment</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deployed to Staging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dev_set_in_progress</name>
        <label>Dev set in progress</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress - Dev</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>staging_in_progress</name>
        <label>staging in progress</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress - Staging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test_level_to_notestrun</name>
        <label>test level to notestrun</label>
        <locationX>1282</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Promotion_Test_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NoTestRun</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CATMDEV2_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000TVVCCA4</stringValue>
        </value>
    </constants>
    <constants>
        <description>ID of CERT env record in copado</description>
        <name>CERT_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0VoCAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>DisputeDev_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000ewDWCAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>HSCSEP_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000ewC8CAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>NSCDEV01_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0W3CAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>NSCDEV02_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0XOCAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>Preprod_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0VyCAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>PROD_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0VZCAY</stringValue>
        </value>
    </constants>
    <constants>
        <name>Staging_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aIi4u000000x0VtCAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>change_status</name>
        <label>change status</label>
        <locationX>1282</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_dev_environments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CERT_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Staging_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Preprod_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PROD_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dev_set_in_progress</targetReference>
            </connector>
            <label>if dev environments</label>
        </rules>
        <rules>
            <name>if_staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Staging_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_set_deployed_to_staging</targetReference>
            </connector>
            <label>if staging</label>
        </rules>
        <rules>
            <name>if_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CERT_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_set_deployed_to_cert</targetReference>
            </connector>
            <label>if Cert</label>
        </rules>
        <rules>
            <name>if_preprod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Preprod_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deployed_to_preprod</targetReference>
            </connector>
            <label>if preprod</label>
        </rules>
        <rules>
            <name>if_prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.copado__Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PROD_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deployed_to_prod</targetReference>
            </connector>
            <label>if prod</label>
        </rules>
        <rules>
            <name>if_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_to_draft</targetReference>
            </connector>
            <label>if null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision would check if copado user story has apex code and whether the test level picklist is set to &quot;RunSpecifiedTest&quot;</description>
        <name>Change_Test_Level_picklist</name>
        <label>Change Test Level picklist</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Has_Apex_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Promotion_Test_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RunSpecifiedTests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Test_level_to_run_specified_test</targetReference>
            </connector>
            <label>If true</label>
        </rules>
        <rules>
            <name>if_apex_code_is_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Has_Apex_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Promotion_Test_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NoTestRun</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test_level_to_notestrun</targetReference>
            </connector>
            <label>if apex code is unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_set_deployed_to_cert</name>
        <label>check for set/deployed to cert</label>
        <locationX>1282</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_to_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_in_progress</targetReference>
            </connector>
            <label>set to cert</label>
        </rules>
        <rules>
            <name>deployed_to_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CERT_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deployed_to_Cert_Assignment</targetReference>
            </connector>
            <label>deployed to cert</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_set_deployed_to_staging</name>
        <label>check for set/deployed to staging</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Change_Test_Level_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_to_staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>staging_in_progress</targetReference>
            </connector>
            <label>set to staging</label>
        </rules>
        <rules>
            <name>deployed_to_staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Staging_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Environment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deployed_to_staging_assignment</targetReference>
            </connector>
            <label>deployed to staging</label>
        </rules>
    </decisions>
    <description>Changes that are part of this flow:
- Change picklist values in Status field on User Story.
- Change Promotion Test Level field to &quot;RunSpecifiedTests&quot; when Has Apex Code is checked true.</description>
    <environments>Default</environments>
    <interviewLabel>Copado Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>change_status</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
