force-app/main/default/flows/CPQ_Quote_Local_Office_Ordering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Decision to determine if the start date has been set</description>
        <name>Is_Actual_Delivery_Date_Set</name>
        <label>Is Actual Delivery Date Set</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Start_Date_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.qtc_ActualDeliveryDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__EndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>calculatedEndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__StartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Fulfillment_Order.qtc_ActualDeliveryDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Quote_Ordered_Event</targetReference>
            </connector>
            <label>Actual Start Date is Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SBQQ__StartDate__c},{!$Record.SBQQ__SubscriptionTerm__c})-1</expression>
    </formulas>
    <interviewLabel>CPQ Quote - Local Office Ordering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ Quote - Local Office Ordering Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Publishes the Quote Ordered Platform Event</description>
        <name>Publish_Quote_Ordered_Event</name>
        <label>Publish Quote Ordered Event</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>qtcQuoteId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Ordered__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetches the related Fulfillment Order</description>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Actual_Delivery_Date_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>qtc_FulfillmentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__LastCalculatedOn__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Uncalculated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Channel_Local_Office_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local Office</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_SyncFulfillmentOrderDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Ordered_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
