force-app/main/default/flows/CPQ_RESUBMIT_ORDER_REQUEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SetSalesperson</name>
        <label>SetSalesperson</label>
        <locationX>318</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>SalesReps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.ClonedFromOpportunity__r.CAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getFulFillmentOrder.qtc_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getFulFillmentOrder.qtc_ERP_Order_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateFulfillmentOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSalesPersonforOther</name>
        <label>SetSalesPersonforOther</label>
        <locationX>311</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>SalesReps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFulFillmentOrder.qtc_Quote__r.SBQQ__SalesRep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getFulFillmentOrder.qtc_Sequence_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getFulFillmentOrder.qtc_ERP_Order_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateFulfillmentOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAccountType</name>
        <label>checkAccountType</label>
        <locationX>521</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.Channel_Office__r.CDM_Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFulFillmentOrder.qtc_Sequence_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSalesperson</targetReference>
            </connector>
            <label>isPartner</label>
        </rules>
        <rules>
            <name>isNotPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFulFillmentOrder.qtc_Sequence_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSalesPersonforOther</targetReference>
            </connector>
            <label>isNotPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOpsUser</name>
        <label>checkOpsUser</label>
        <locationX>711</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Permission_Denied_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotCPQOpsUser</defaultConnectorLabel>
        <rules>
            <name>opsUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPermissionAssigned.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFulFillmentOrder</targetReference>
            </connector>
            <label>opsUser</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resubmit OM REQUEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ RESUBMIT ORDER REQUEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getFulFillmentOrder</name>
        <label>getFulFillmentOrder</label>
        <locationX>1032</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Order_Interface_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Issue on Header</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Interface_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Data Issue on Lines</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>qtc_FulfillmentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOperationPermission</name>
        <label>getOperationPermission</label>
        <locationX>439</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPermissionAssigned</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ_Operations_User_Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ_Fulfillment_Order_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>669</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkAccountType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFulFillmentOrder.qtc_Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPermissionAssigned</name>
        <label>getPermissionAssigned</label>
        <locationX>579</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOpsUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOperationPermission.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>822</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFulFillmentOrder.qtc_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateFulfillmentOrder</name>
        <label>updateFulfillmentOrder</label>
        <locationX>65</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Order_Resubmitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFulFillmentOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Interface_Status__c</field>
            <value>
                <stringValue>ERP Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesperson__c</field>
            <value>
                <elementReference>SalesReps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_ERP_Order_Status__c</field>
            <value>
                <elementReference>getFulFillmentOrder.qtc_ERP_Order_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Sequence_Number__c</field>
            <value>
                <elementReference>getFulFillmentOrder.qtc_Sequence_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Ship_To_Account__c</field>
            <value>
                <elementReference>getQuote.qtc_Ship_To_Account__r.Site_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>qtc_FulfillmentOrder__c</object>
    </recordUpdates>
    <screens>
        <name>Order_Resubmitted</name>
        <label>Order Resubmitted</label>
        <locationX>81</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Order Resubmitted&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permission_Denied_Screen</name>
        <label>Permission Denied Screen</label>
        <locationX>1081</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;Please contact the Business Operations team to send the Order Resubmission.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>23</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>getOperationPermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesReps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
