force-app/main/default/flows/CPQ_RetriggerACHEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrigger_AutoPay_setup_Request</name>
        <label>Retrigger AutoPay setup Request</label>
        <locationX>517</locationX>
        <locationY>208</locationY>
        <actionName>GenerateLegalDocumentService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckResponse</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>Ids</name>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ShowMessage</name>
        <label>ShowMessage</label>
        <locationX>545</locationX>
        <locationY>406</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Autopay Setup Request has been sent.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ShowMessage_0</name>
        <label>ShowMessage</label>
        <locationX>805</locationX>
        <locationY>409</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>response</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>messageText</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>IdsToBePassed</name>
        <label>Ids to be Passed</label>
        <locationX>354</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_ACH_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrigger_AutoPay_setup_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckResponse</name>
        <label>CheckResponse</label>
        <locationX>652</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>ShowMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>response</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FAILURE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowMessage_0</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ACHFromAccountContactRelation</name>
        <dataType>String</dataType>
        <displayField>Contact_Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <sortField>Contact_Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CPQ_RetriggerACHEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ_RetriggerACHEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_ACH_Contact</name>
        <label>Select ACH Contact</label>
        <locationX>178</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IdsToBePassed</targetReference>
        </connector>
        <fields>
            <name>Selected_ACH_Contact</name>
            <choiceReferences>ACHFromAccountContactRelation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select ACH Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_ACH_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
