force-app/main/default/flows/Create_Deals_Desk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Activate_Case_Assignment_rule_0</name>
        <label>Activate Case Assignment rule</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <actionName>CaseApexUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Alert_To_Queue_Members_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CaseIds</name>
            <value>
                <elementReference>DealsRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_To_Queue_Members_0</name>
        <label>Email Alert To Queue Members</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <actionName>Case.Deal_Desk_Pending_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>DealsRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToRecord</name>
        <label>NavigateToRecord</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>DealsRecord.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Deal_Record</name>
        <label>Deal Record</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>DealsRecord.QB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QB_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Additional_QB_Numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_QB_Numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.USM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USMNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Service_Architect_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Architect_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Does_Opportunity_Include_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_Opportunity_Include_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0124u000000l5vrAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Escalation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EscalationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Additional_Opportunity_Numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Opportunity_Numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Inside_Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inside_Sales_Rep.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Sales_Specialist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Specialist.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Revenue_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Opprtunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Requested_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Does_the_Deal_include_Multiple_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_Deal_include_Multiple_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Is_this_a_Non_Binding_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsthisaNonBindingOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Opportunity_includes_product_s_under_Co__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityincludesproductsunderControlledDeployment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealsRecord.Does_the_Opportunity_include__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_does_the_Opportunity_includes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Deals_Desk</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCaseTeamRoleExist</name>
        <label>IsCaseTeamRoleExist</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Activate_Case_Assignment_rule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseTeamRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseTeamMember</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>It validates if the opportunity owner is active or not.</description>
        <name>IsOppOwnerActive</name>
        <label>IsOppOwnerActive</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>IsCaseTeamRoleExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActiveOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DealsRecord.Opportunity_Name__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseTeamRole</targetReference>
            </connector>
            <label>ActiveOwner</label>
        </rules>
    </decisions>
    <description>This flow will create a case of record type= Deals Desk</description>
    <dynamicChoiceSets>
        <name>DoestheDealincludeMultipleProducts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_the_Deal_include_Multiple_Products__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EscalationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Escalation_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsthisaNonBindingOpportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_a_Non_Binding_Opportunity__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityincludesproductsunderControlledDeployment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_includes_product_s_under_Co__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatdoestheOpportunityinclude</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_the_Opportunity_include__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>USMNum</name>
        <dataType>String</dataType>
        <expression>{!DealsRecord.Opportunity_Name__r.USM_Opportunity_Number__c}</expression>
    </formulas>
    <interviewLabel>Deals Desk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Deals Desk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deals_Desk</name>
        <label>Create Deals Desk</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>IsOppOwnerActive</targetReference>
        </connector>
        <inputReference>DealsRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>When the case is created, the opportunity owner is added to the case team and assigned role: Sales</description>
        <name>CreateCaseTeamMember</name>
        <label>CreateCaseTeamMember</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Activate_Case_Assignment_rule_0</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>DealsRecord.Opportunity_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>DealsRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>GetCaseTeamRole.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Associated_Account_to_Current_Opportunity</name>
        <label>Associated Account to Current Opportunity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Deals_Desk_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Opprtunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Opprtunity</name>
        <label>Current Opprtunity</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_Account_to_Current_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Case Team Role should be Sales</description>
        <name>GetCaseTeamRole</name>
        <label>GetCaseTeamRole</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseTeamRoleExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>New_Deals_Desk_Case</name>
        <label>New Deals Desk Case</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deal_Record</targetReference>
        </connector>
        <fields>
            <name>New_Deals_Desk_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Deals_Desk_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Escalation_Type</name>
                    <choiceReferences>EscalationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Escalation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>QB_Number</name>
                    <dataType>String</dataType>
                    <fieldText>QuoteBuilder  #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Inside_Sales_Rep</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Inside_Sales_Rep__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inside Sales Rep</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>InsideSalesRep.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Does_Opportunity_Include_Services</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Does Opportunity Include Services?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Deals_Desk_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Type</name>
                    <choiceReferences>ProductType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_QB_Numbers</name>
                    <dataType>String</dataType>
                    <fieldText>Additional QuoteBuilder #</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Separate each Additional QuoteBuilder Number with a semi-colon (&quot;;&quot;)&lt;/b&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sales_Specialist</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_Specialist__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sales Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SalesSpecialist.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Deals_Desk_Case_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Deals_Desk_Case_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>USMValue</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;USM # : {!Current_Opprtunity.USM_Opportunity_Number__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_Opportunity_Include_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Opportunity_Numbers</name>
                    <dataType>String</dataType>
                    <fieldText>Additional Opportunity Numbers</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Separate each Additional Opportunity Number with a semi-colon (&quot;;&quot;)&lt;/b&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Requested_Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Requested Due Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Deals_Desk_Case_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Architect_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Service Architect Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_Opportunity_Include_Services</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Solution_Assurance</name>
            <fieldText>Solution Assurance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Solution_Assurance_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Includes_Product_under_CD</name>
                    <choiceReferences>OpportunityincludesproductsunderControlledDeployment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Includes Product under CD ?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This opportunity includes a product under Controlled Deployment&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_does_the_Opportunity_includes</name>
                    <choiceReferences>WhatdoestheOpportunityinclude</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What does the Opportunity include?</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Solution_Assurance_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Does_the_Deal_include_Multiple_Products</name>
                    <choiceReferences>DoestheDealincludeMultipleProducts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the Deal include Multiple Products?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_a_Non_Binding_Opportunity</name>
                    <choiceReferences>IsthisaNonBindingOpportunity</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a &quot;Non-Binding&quot; Opportunity?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Non-Binding, ability to proceed with the RFP and/or Proposal without any legal obligations to provide a service to the customer&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_Opprtunity.Industry__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Payments &amp; Network</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;For Deals Desk &amp;amp; Solution Assurance&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmissionConfirmation</name>
        <label>SubmissionConfirmation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Opprtunity</targetReference>
        </connector>
        <fields>
            <name>Submission_Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please read before submitting&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Only complete this form if your Opportunity (i.e., deal) requires a formal Bid Review and/or Solution Assurance review.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;A member of the Deals Desk team will be assigned to your request within 1 business day.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SubmissionConfirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DealsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InsideSalesRep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesSpecialist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
