force-app/main/default/flows/CreateCaseFromSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValueToVocCaseObj</name>
        <label>AssignValueToVocCaseObj</label>
        <locationX>630</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>VocCaseObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120g000000N2vR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSurveyRecord.CaseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIdOfSurvey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactIdOfSurvey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.Survey_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSurveyRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.Qualtrics_Survey_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSurveyRecord.Qualtrics_Response_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VocCaseObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSurveyRecord.CaseOwner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseForSurvey</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfCaseTypeIsNotNull</name>
        <label>IfCaseTypeIsNotNull</label>
        <locationX>510</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfTypeIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSurveyRecord.CaseType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSurveyRecord.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSurveyRecord.CaseOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSurveyRecord.CaseOwner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSurveyRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValueToVocCaseObj</targetReference>
            </connector>
            <label>IfTypeIsNotNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>IF({!getSurveyRecord.CaseType__c}  = &apos;Detractor&apos;,&apos;Detractor Alert&apos;,IF({!getSurveyRecord.CaseType__c} = &apos;Immediate Detractor&apos;, &apos;Immediate Detractor Alert&apos;, IF({!getSurveyRecord.CaseType__c} = &apos;Immediate&apos;,&apos;Immediate Alert&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>GetCaseType</name>
        <dataType>String</dataType>
        <expression>IF(({!getSurveyRecord.NPS_Score__c} &lt; 7 &amp;&amp; {!getSurveyRecord.Immediate_Issues_Concerns__c} == &apos;No&apos;) , &apos;Detractor&apos;, IF(({!getSurveyRecord.NPS_Score__c} &lt; 7 &amp;&amp; {!getSurveyRecord.Immediate_Issues_Concerns__c} == &apos;Yes&apos;),&apos;Immediate Detractor&apos;, IF(({!getSurveyRecord.NPS_Score__c} &gt; 7 &amp;&amp; {!getSurveyRecord.Immediate_Issues_Concerns__c} == &apos;Yes&apos;),&apos;Immediate&apos;,&apos;-Test&apos;)))</expression>
    </formulas>
    <interviewLabel>CreateCaseFromSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateCaseFromSurvey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCaseForSurvey</name>
        <label>CreateCaseForSurvey</label>
        <locationX>860</locationX>
        <locationY>53</locationY>
        <inputReference>VocCaseObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getSurveyRecord</name>
        <label>getSurveyRecord</label>
        <locationX>392</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfCaseTypeIsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyResultId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>getSurveyRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdOfSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdOfSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VocCaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
