force-app/main/default/flows/EC_Case_Create_with_Dispatch_Option.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>1018</locationX>
        <locationY>2102</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error: </stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Hospitality_Case_Success</name>
        <label>Hospitality Case Success</label>
        <locationX>314</locationX>
        <locationY>1982</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>New_Case_Record_Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Your new case has been created! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success! </stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Case_Record_Finish</name>
        <label>New Case Record Finish</label>
        <locationX>314</locationX>
        <locationY>2102</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceMajor</name>
        <choiceText>P2 - Major</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P2 - Major</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMedium</name>
        <choiceText>P3 - Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P3 - Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMinor</name>
        <choiceText>P4 - Minor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P4 - Minor</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceUrgent</name>
        <choiceText>Urgent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dispatch_Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Dispatch_Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Hardware_Choice</name>
        <choiceText>Hardware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_Choice</name>
        <choiceText>Software</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Dispatch_Decision</name>
        <label>Create Dispatch?</label>
        <locationX>270</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Case_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Dispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch_Choice_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hardware_Dispatch</targetReference>
            </connector>
            <label>Create Dispatch</label>
        </rules>
        <rules>
            <name>Do_not_Create_Dispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dispatch_Choice_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hospitality_Case_Success</targetReference>
            </connector>
            <label>Do not Create Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doyouhavefilestoattach</name>
        <label>Do you have files to attach</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Case_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Profile_is_Create_Dispatches_User</targetReference>
            </connector>
            <label>No Files</label>
        </rules>
        <rules>
            <name>Attach_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Files</targetReference>
            </connector>
            <label>Attach Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_is_Create_Dispatches_User</name>
        <label>Profile is Create Dispatches User</label>
        <locationX>468</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Hospitality_Case_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_is_Create_Dispatches</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Hospitality_EC_Create_Dispatches</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dispatch_Decision</targetReference>
            </connector>
            <label>Profile is Create Dispatches User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Choice</name>
        <label>Type Choice</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Doyouhavefilestoattach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hardware_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hardware_CreateCase</targetReference>
            </connector>
            <label>Hardware</label>
        </rules>
        <rules>
            <name>Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Software_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCase</targetReference>
            </connector>
            <label>Software</label>
        </rules>
    </decisions>
    <description>Asset lookup removed</description>
    <dynamicChoiceSets>
        <name>CreationCategories</name>
        <dataType>String</dataType>
        <displayField>Customer_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Facing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Creation_Category__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>EC Case Create with Dispatch Option {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EC Case Create with Dispatch Option</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Doyouhavefilestoattach</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetSiteParentRecord.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Site_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_ID__c</field>
            <value>
                <elementReference>GetSiteParentRecord.CMC_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Group__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Parent.Category_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Category__c</field>
            <value>
                <elementReference>CreationCategories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Other__c</field>
            <value>
                <stringValue>Entered by Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GUID_Id__c</field>
            <value>
                <elementReference>CustomerTicketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_HelpDesk_Support_Reason__c</field>
            <value>
                <elementReference>GetSiteParentRecord.No_HelpDesk_Support_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Software_Product__c</field>
            <value>
                <elementReference>Other_Software_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Country_Code__c</field>
            <value>
                <elementReference>GetSiteParentRecord.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Does_Not_Have_HelpDesk_Support__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Site_Does_Not_Have_HelpDesk_Support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Id__c</field>
            <value>
                <elementReference>CaseAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Name__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_State__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Billing_State_with_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Branch_No__c</field>
            <value>
                <elementReference>GetSiteParentRecord.cdm_Store_Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Brief_Description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Hardware_CreateCase</name>
        <label>Hardware CreateCase</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Doyouhavefilestoattach</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetSiteParentRecord.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Site_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_ID__c</field>
            <value>
                <elementReference>GetSiteParentRecord.CMC_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Group__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Parent.Category_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Category__c</field>
            <value>
                <elementReference>Get_Creation_Category.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GUID_Id__c</field>
            <value>
                <elementReference>CustomerTicketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_HelpDesk_Support_Reason__c</field>
            <value>
                <elementReference>GetSiteParentRecord.No_HelpDesk_Support_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Software_Product__c</field>
            <value>
                <elementReference>Other_Software_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>CasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetCaseRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Country_Code__c</field>
            <value>
                <elementReference>GetSiteParentRecord.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Does_Not_Have_HelpDesk_Support__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Site_Does_Not_Have_HelpDesk_Support__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Id__c</field>
            <value>
                <elementReference>CaseAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Name__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_State__c</field>
            <value>
                <elementReference>GetSiteParentRecord.Billing_State_with_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Branch_No__c</field>
            <value>
                <elementReference>GetSiteParentRecord.cdm_Store_Branch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Issue_Brief_Description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Creation_Category</name>
        <label>Get Creation Category</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_HOSP_Case_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Automation Dispatch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Creation_Category__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecordType</name>
        <label>GetCaseRecordType</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Creation_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospitality_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSiteParentRecord</name>
        <label>GetSiteParentRecord</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccount.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Add_Files</name>
        <label>Add Files</label>
        <locationX>468</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Profile_is_Create_Dispatches_User</targetReference>
        </connector>
        <fields>
            <name>issue_file</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attached file(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf, .txt, .xl, .xls, .img, .jpg, .gif, .png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewCaseID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoPIIData</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I am not providing any personally identifiable information in the above documents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You must verify that your documents have no personally identifiable information before uploading.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NoPIIData}=TRUE</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Attach File(s) to Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_HOSP_Case_Page</name>
        <label>New HOSP Case Page</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSiteParentRecord</targetReference>
        </connector>
        <fields>
            <name>New_HOSP_Case_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_HOSP_Case_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Site_Id__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Site Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Type_Selection</name>
                    <choiceReferences>Hardware_Choice</choiceReferences>
                    <choiceReferences>Software_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Software_ProductPicklist</name>
                    <choiceReferences>CreationCategories</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Software Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Selection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Software_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Software_Product</name>
                    <dataType>String</dataType>
                    <fieldText>Other Software Product</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Software_ProductPicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_HOSP_Case_Page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CasePriority</name>
                    <choiceReferences>ChoiceMajor</choiceReferences>
                    <choiceReferences>ChoiceMedium</choiceReferences>
                    <choiceReferences>ChoiceMinor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Issue_Brief_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Brief Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueDescription</name>
                    <defaultValue>
                        <stringValue>
</stringValue>
                    </defaultValue>
                    <fieldText>Problem Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_HOSP_Case_Page_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_HOSP_Case_Page_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_HOSP_Case_Page_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_HOSP_Case_Page_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_HOSP_Case_Page_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_this_a_hardware_dispatch_or_work_order</name>
                    <choiceReferences>Dispatch_Choice_Yes</choiceReferences>
                    <choiceReferences>Dispatch_Choice_No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>Dispatch_Choice_No</defaultSelectedChoiceReference>
                    <fieldText>Is this a hardware dispatch (or work order)?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Request a new hardware asset in the form of a Work Order / Hardware Dispatch for your location. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_Selection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Hardware_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CustomerTicketNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Ticket Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This is an Alpha-numeric field&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_HOSP_Case_Page_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_have_files_to_attach</name>
                    <choiceReferences>Choice_Yes</choiceReferences>
                    <choiceReferences>Choice_No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have files to attach?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Hardware_Dispatch</name>
        <label>Create Hardware Dispatch</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <flowName>Hospitality_Hardware_Dispatch_Flow</flowName>
        <inputAssignments>
            <name>Is_EC_User</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewCaseID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NewAssetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseEntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
