force-app/main/default/flows/Feed_Item_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Case_Record_Type_Name_0</name>
        <label>Case Record Type Name</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Hospitality_Case_ID_0.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Hospitality_Case_ID_0.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hospitality_Case_Update_Decision_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Automation_Setting_Decision</name>
        <label>Automation Setting Decision</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_Not_Skipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Setting__c.Skip_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hospitality_Case_ID_0</targetReference>
            </connector>
            <label>Automation Not Skipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hospitality_Case_Update_Decision_0</name>
        <label>Hospitality Case Update Decision</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_User_Post_Update_Case_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Case_Status_Update_on_Chatter_Post</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hospitality_Case_0</targetReference>
            </connector>
            <label>Customer User Post Update Case Status</label>
        </rules>
        <rules>
            <name>Any_User_Post_Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitality_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Modified_Date</targetReference>
            </connector>
            <label>Any User Post Update Case</label>
        </rules>
    </decisions>
    <description>- Hospitality Case status should update to In Progress when Hospitality Customer posts on Case chatter feed via EC.</description>
    <environments>Default</environments>
    <formulas>
        <description>For debut purpose only. Delete afterwards.</description>
        <name>UpdateCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Case updated by Chatter post profile &quot;+ {!$Record.CreatedBy:User.Profile.Name}</expression>
    </formulas>
    <interviewLabel>Update Hospitality Case Status on Customer Chatter Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hospitality Feed Item After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hospitality_Case_ID_0</name>
        <label>Get Hospitality Case ID</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Record_Type_Name_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hospitality_Case_0</name>
        <label>Update Hospitality Case Status</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Hospitality_Case_ID_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skip_EC_Validation_Now__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In_Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Modified_Date</name>
        <label>Update Hospitality Case Last Modified</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Hospitality_Case_ID_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Setting_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
