force-app/main/default/flows/Generate_Order_Authorization_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Generate_Order_Auth_Docs</name>
        <label>Generate Order Auth Docs</label>
        <locationX>703</locationX>
        <locationY>1275</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>DocuSignUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_For_Completed</name>
        <label>Check For Completed</label>
        <locationX>689</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>CPQOperationPermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Completed_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_History_Records.Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedError</targetReference>
            </connector>
            <label>Check For Completed Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPQOperationPermission</name>
        <label>CPQOperation</label>
        <locationX>692</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Permission_Denied_Sreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotCPQOpsUser</defaultConnectorLabel>
        <rules>
            <name>CPQOpsUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPermissionsAssigned.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Only_Check</targetReference>
            </connector>
            <label>CPQOpsUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Document_Not_Complete</name>
        <label>Legal Document Not Complete</label>
        <locationX>684</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>To_check_Send_For_Signature_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complete</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Complete</name>
            <conditionLogic>1 AND  (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.qtc_Legal_Document_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.AutoPay_Setup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.AutoPay_Setup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Document_Not_Complete_Screen</targetReference>
            </connector>
            <label>Status Not Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Only_Check</name>
        <label>Payment Only Check</label>
        <locationX>693</locationX>
        <locationY>1020</locationY>
        <defaultConnector>
            <targetReference>Payment_Only_Quote_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Display Payment Only Error</defaultConnectorLabel>
        <rules>
            <name>Navigate_To_Doc_Gen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Order_Auth_Docs</targetReference>
            </connector>
            <label>Navigate To Doc Gen</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_check_Send_For_Signature_Status</name>
        <label>To check Send For Signature Status</label>
        <locationX>688</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Check_For_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_status_is_Sent_For_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_History_Records.Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Auth_Form</targetReference>
            </connector>
            <label>Check the status is Sent For Signature</label>
        </rules>
    </decisions>
    <description>This flow called on the click of Generate Order Authorization button.</description>
    <dynamicChoiceSets>
        <name>checkUserPermSet</name>
        <dataType>String</dataType>
        <displayField>PermissionSetId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Operation_Permission.Id</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>PermissionSetAssignment</object>
        <valueField>PermissionSetId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMDocStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Status__c</picklistField>
        <picklistObject>Customer_Document__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DocuSignUrl</name>
        <dataType>String</dataType>
        <expression>{!$Label.CLM_DS_BASE_URL}+&quot;Aloha Order Authorization?aid=&quot;+{!$Label.CLM_ENV_ID}+&quot;&amp;eos[0].Id=&quot;+{!GetQuote.Id}+&quot;&amp;eos[0].System=Salesforce&amp;eos[0].Type=SBQQ__Quote__c&amp;eos[0].Name=&quot;+{!GetQuote.Name} +&quot;&quot;+TEXT({!GetQuote.CreatedDate})+&quot;&amp;eos[0].ScmPath=/SalesForce/Account/&quot;+{!GetQuote.DocuSign_Folder__c}</expression>
    </formulas>
    <interviewLabel>Gernerate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Order Authorization Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document_History_Records</name>
        <label>Get Document History Records</label>
        <locationX>618</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Document_Not_Complete</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE Shipment/Order Authorization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Document__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operation_Permission</name>
        <label>Get Operation Permission</label>
        <locationX>79</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPermissionsAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ_Operations_User_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Lines</name>
        <label>Get Payment Lines</label>
        <locationX>455</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_History_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Revenue_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payments Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub-Package</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPermissionsAssigned</name>
        <label>Get Permissions Assigned</label>
        <locationX>190</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Operation_Permission.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>Get Quote</label>
        <locationX>314</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompletedError</name>
        <label>CompletedError</label>
        <locationX>868</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CPQOperationPermission</targetReference>
        </connector>
        <fields>
            <name>CompletedDoc</name>
            <extensionName>c:FlowOFAlreadyGeneratedWarning</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>GetQuote.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invokeFrom</name>
                <value>
                    <stringValue>OAuthorizationCompleted</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Auth_Form</name>
        <label>Generate Auth Form</label>
        <locationX>965</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CPQOperationPermission</targetReference>
        </connector>
        <fields>
            <name>SentforSignature</name>
            <extensionName>c:FlowOFAlreadyGeneratedWarning</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>GetQuote.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>invokeFrom</name>
                <value>
                    <stringValue>OAuthorizationSentForSignature</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Legal_Document_Not_Complete_Screen</name>
        <label>Legal Document Not Complete Screen</label>
        <locationX>492</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderFormNotCompleteText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(255, 0, 0);&quot;&gt;{!$Label.CPQ_OF_Completed_Required}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Only_Quote_Screen</name>
        <label>Payment Only Quote Screen</label>
        <locationX>439</locationX>
        <locationY>1023</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PaymentOnlyText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;You can not send out this document for a Payments Only Quote﻿.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Permission_Denied_Sreen</name>
        <label>Permission Denied Sreen</label>
        <locationX>856</locationX>
        <locationY>1078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Please contact the Business Operations team to send the Order Authorization document.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>174</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Get_Operation_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
