force-app/main/default/flows/GenerateProposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Multisite_Quote_For_Proposal</name>
        <label>Get Multisite Quote For Proposal</label>
        <locationX>683</locationX>
        <locationY>15</locationY>
        <actionName>CPQValidMSQuoteForProposal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckMultiSiteProposal</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>qId</name>
            <value>
                <elementReference>Get_Quotes.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>proposalOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToSendProposal</name>
        <label>NavigateToSendProposal</label>
        <locationX>1060</locationX>
        <locationY>567</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>DocuSignURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>CheckForAmendedQuote</name>
        <label>CheckForAmendedQuote</label>
        <locationX>369</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>CheckMultiSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NonAmendedQuote</defaultConnectorLabel>
        <rules>
            <name>AmendedQuote</name>
            <conditionLogic>(1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quotes.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quotes.qtc_Multi_Site_Relationship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quotes.qtc_Multi_Site_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PP Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorMessage</targetReference>
            </connector>
            <label>AmendedQuote</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMultiSite</name>
        <label>CheckMultiSite</label>
        <locationX>676</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Proposal_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NonMultiSite</defaultConnectorLabel>
        <rules>
            <name>MultiSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quotes.qtc_Multi_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Multisite_Quote_For_Proposal</targetReference>
            </connector>
            <label>MultiSite</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMultiSiteProposal</name>
        <label>CheckMultiSiteProposal</label>
        <locationX>1129</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>DisplayMultiSiteErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proposal Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Proposal_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proposalOutput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_Note</targetReference>
            </connector>
            <label>Proposal Applicable</label>
        </rules>
    </decisions>
    <description>Redirect to Docusign url with some parameters to generate proposal.</description>
    <formulas>
        <name>DocuSignURL</name>
        <dataType>String</dataType>
        <expression>{!$Label.CLM_DS_BASE_URL}+&quot;Aloha Essentials Proposal?aid=&quot;+{!$Label.CLM_ENV_ID}+&quot;&amp;eos[0].Id=&quot;+{!Get_Quotes.Id}+&quot;&amp;eos[0].System=Salesforce&amp;eos[0].Type=SBQQ__Quote__c&amp;eos[0].Name=&quot;+{!Get_Quotes.Name} +&quot; &quot;+TEXT({!Get_Quotes.CreatedDate})+&quot;&amp;eos[0].MultiSite=&quot;+IF({!Get_Quotes.qtc_Multi_Site__c} &lt;&gt; False, &apos;true&apos;,&apos;false&apos;)+&quot;&amp;eos[0].MultiSiteRelationship=&quot;+TEXT({!Get_Quotes.qtc_Multi_Site_Relationship__c})+&quot;&amp;eos[0].ScmPath=/SalesForce/Account/&quot;+{!Get_Quotes.DocuSign_Folder__c}</expression>
    </formulas>
    <interviewLabel>GenerateProposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateProposal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>192</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForAmendedQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Proposal Note Update</description>
        <name>Proposal_Note_Update</name>
        <label>Proposal Note Update</label>
        <locationX>879</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>NavigateToSendProposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quotes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>qtc_Quote_Proposal_Notes__c</field>
            <value>
                <elementReference>Quote_Proposal_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>DisplayErrorMessage</name>
        <label>DisplayErrorMessage</label>
        <locationX>563</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(231, 4, 4);&quot;&gt;Proposal document is applicable to new quote only.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayMultiSiteErrorMessage</name>
        <label>DisplayMultiSiteErrorMessage</label>
        <locationX>1143</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMSError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: red; background-color: white;&quot;&gt;No Quotes meet criteria for generating Proposal document. Please review quotes to ensure they are in approved status and properly linked. For further assistance, please reach out to your Sales Operations contact.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proposal_Note</name>
        <label>Proposal Note</label>
        <locationX>885</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proposal_Note_Update</targetReference>
        </connector>
        <fields>
            <name>Quote_Proposal_Notes</name>
            <defaultValue>
                <stringValue>{!Get_Quotes.qtc_Quote_Proposal_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Quote Proposal Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Length should not be more than 2000 char.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Quote_Proposal_Notes}) &lt;= 2000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DisclaimerOFNotes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: white; color: red; font-family: -apple-system; font-size: 10pt;&quot;&gt;* Proposal Form notes being entered will be applicable only for parent multisite quote.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quotes.qtc_Multi_Site__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quotes.qtc_Multi_Site_Relationship__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Parent</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quotes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>proposalOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
