force-app/main/default/flows/Hospitality_Support_Alert_Display_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Alert</name>
        <label>Add Alert</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>AlertVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlertsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Alert_for_Account</name>
        <label>Add Alert for Account</label>
        <locationX>1410</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AlertVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlertsFormulaforAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Alerts_for_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Hours</name>
        <label>Assign Number of Hours</label>
        <locationX>224</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ReopenHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Number_of_Hours.Number_of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X72_Hour_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Alert_Assignment</name>
        <label>First Alert Assignment</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>AlertVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Alerts.Alert__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Alert_Assignment_for_Account</name>
        <label>First Alert Assignment for Account</label>
        <locationX>1146</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AlertVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Alerts_for_Account.Alert__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Alerts_for_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X72_Hour_Alert_Assignment</name>
        <label>72 Hour Alert Assignment</label>
        <locationX>92</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AlertVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseWindowMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Alerts_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Alerts_Check</name>
        <label>Active Alerts Check</label>
        <locationX>224</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Alert_Variable_Null_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Alert</defaultConnectorLabel>
        <rules>
            <name>Active_Alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hospitality_Suppor_Alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Alerts</targetReference>
            </connector>
            <label>Active Alerts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Alerts_Check_for_Account</name>
        <label>Active Alerts Check for Account</label>
        <locationX>1190</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>No_Alert_Display_Screen_for_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Alert</defaultConnectorLabel>
        <rules>
            <name>Active_Alerts_for_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hospitality_Suppor_Alert_for_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Alerts_for_Account</targetReference>
            </connector>
            <label>Active Alerts for Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alert_Variable_Null_Check</name>
        <label>Alert Variable Null Check</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Add_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alert Variable Is Not Null</defaultConnectorLabel>
        <rules>
            <name>Alert_Variable_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Alert_Assignment</targetReference>
            </connector>
            <label>Alert Variable Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alert_Variable_Null_Check_0</name>
        <label>Alert Variable Null Check</label>
        <locationX>398</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Alert_Display_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alert Variable Is Not Null</defaultConnectorLabel>
        <rules>
            <name>Alert_Variable_Is_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Alert_Display_Screen</targetReference>
            </connector>
            <label>Alert Variable Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alert_Variable_Null_Check_for_Account</name>
        <label>Alert Variable Null Check for Account</label>
        <locationX>1278</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Add_Alert_for_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alert Variable Is Not Null</defaultConnectorLabel>
        <rules>
            <name>Alert_Variable_Is_Null_for_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Alert_Assignment_for_Account</targetReference>
            </connector>
            <label>Alert Variable Is Null for Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_of_Case_or_Account</name>
        <label>Record is of Case or Account</label>
        <locationX>905</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_of_is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hospitality_Suppor_Alert</targetReference>
            </connector>
            <label>Record of is Case</label>
        </rules>
        <rules>
            <name>Record_is_of_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hospitality_Suppor_Alert_for_Account</targetReference>
            </connector>
            <label>Record is of Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>X72_Hour_Check</name>
        <label>72 Hour Check</label>
        <locationX>224</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Active_Alerts_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Than 72 or Not Closed</defaultConnectorLabel>
        <rules>
            <name>Older_Than_72_Hours</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>ClosedDate72Hours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X72_Hour_Alert_Assignment</targetReference>
            </connector>
            <label>Older Than 72 Hours</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AlertsFormula</name>
        <dataType>String</dataType>
        <expression>{!AlertVariable} + &quot;; &quot; + {!Loop_Account_Alerts.Alert__c}</expression>
    </formulas>
    <formulas>
        <name>AlertsFormulaforAccount</name>
        <dataType>String</dataType>
        <expression>{!AlertVariable} + &quot;; &quot; + {!Loop_Account_Alerts_for_Account.Alert__c}</expression>
    </formulas>
    <formulas>
        <name>CaseWindowMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Case closed more than &quot; +  TEXT({!ReopenHours}) + &quot; hours ago.&quot;</expression>
    </formulas>
    <formulas>
        <name>ClosedDate72Hours</name>
        <dataType>Boolean</dataType>
        <expression>IF(
Now() &gt;= {!Get_Case.ClosedDate} + (({!ReopenHours}* 60)/1440),
TRUE,
FALSE)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Hospitality Support Alert Display Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hospitality Support Alert Display Flow</label>
    <loops>
        <name>Loop_Account_Alerts</name>
        <label>Loop Account Alerts</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Hospitality_Suppor_Alert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Alert_Variable_Null_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alert_Display_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Account_Alerts_for_Account</name>
        <label>Loop Account Alerts for Account</label>
        <locationX>1058</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Hospitality_Suppor_Alert_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Alert_Variable_Null_Check_for_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alert_Display_Screen_for_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>905</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_is_of_Case_or_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>905</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hospitality_Suppor_Alert</name>
        <label>Get Hospitality Suppor Alert</label>
        <locationX>224</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Number_of_Hours</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Site_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hospitality_Support_Alerts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hospitality_Suppor_Alert_for_Account</name>
        <label>Get Hospitality Suppor Alert for Account</label>
        <locationX>1190</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Alerts_Check_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hospitality_Support_Alerts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Number_of_Hours</name>
        <label>Get Number of Hours</label>
        <locationX>224</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Reopen Window</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Reopen_Window__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Alert_Display_Screen</name>
        <label>Alert Display Screen</label>
        <locationX>224</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 73, 33); font-size: 16px;&quot;&gt;{!AlertVariable}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alert_Display_Screen_for_Account</name>
        <label>Alert Display Screen for Account</label>
        <locationX>1058</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Alert_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 53, 38); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(218, 29, 20); font-size: 16px;&quot;&gt;{!AlertVariable}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Alert_Display_Screen</name>
        <label>No Alert Display Screen</label>
        <locationX>266</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Alert_Display</name>
            <fieldText>&lt;p&gt;No Active Alerts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Alert_Display_Screen_for_account</name>
        <label>No Alert Display Screen for account</label>
        <locationX>1322</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_No_Alert_Display</name>
            <fieldText>&lt;p&gt;No Active Alerts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>779</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AlertVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReopenHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
