force-app/main/default/flows/Hospitality_Case_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignMCN</name>
        <label>AssignMCN</label>
        <locationX>3350</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>MCN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_MCN.Master_Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varCountryQueue_Assignment</name>
        <label>varCountryQueue Assignment</label>
        <locationX>1898</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountryQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varCountryQueue_Assignment_0</name>
        <label>varCountryQueue Assignment</label>
        <locationX>4274</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountryQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varCountryQueue_Assignment_0_0</name>
        <label>varCountryQueue Assignment</label>
        <locationX>3482</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountryQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varDefaultQueue_Assignment</name>
        <label>varDefaultQueue Assignment</label>
        <locationX>2162</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDefaultQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varDefaultQueue_Assignment_0</name>
        <label>varDefaultQueue Assignment</label>
        <locationX>4538</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDefaultQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varDefaultQueue_Assignment_0_0</name>
        <label>varDefaultQueue Assignment</label>
        <locationX>3746</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDefaultQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varDefaultQueue_Assignment_0_0_0</name>
        <label>varDefaultQueue Assignment</label>
        <locationX>5066</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDefaultQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varGUCustIDQueue_Assignment</name>
        <label>varGUCustIDQueue Assignment</label>
        <locationX>842</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGUCustIDQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varGUCustIDQueue_Assignment_0</name>
        <label>varGUCustIDQueue Assignment</label>
        <locationX>2690</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGUCustIDQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varMCNQueue_Assignment</name>
        <label>varMCNQueue Assignment</label>
        <locationX>578</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMCNQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varMCNQueue_Assignment_0</name>
        <label>varMCNQueue Assignment</label>
        <locationX>2426</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMCNQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varOPCustIDQueue_Assignment</name>
        <label>varOPCustIDQueue Assignment</label>
        <locationX>1106</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOPCustIDQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varOPCustIDQueue_Assignment_0</name>
        <label>varOPCustIDQueue Assignment</label>
        <locationX>2954</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOPCustIDQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varStateQueue_Assignment</name>
        <label>varStateQueue Assignment</label>
        <locationX>1634</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStateQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varStateQueue_Assignment_0</name>
        <label>varStateQueue Assignment</label>
        <locationX>4010</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>caseOwnerQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStateQueue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignment_Lock_Check</name>
        <label>Assignment Lock, Status, and Queue check</label>
        <locationX>1502</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Origin_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status = New or Assignment Lock &lt;&gt; True</defaultConnectorLabel>
        <rules>
            <name>Status_New_or_Assignment_Lock_True</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Assignment_Lock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Support_Queue.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HOS App Tickets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Locked</targetReference>
            </connector>
            <label>Status &lt;&gt; New or Assignment Lock = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_In_Monitoring_or_Not</name>
        <label>Check Case In Monitoring or Not</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Support_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Entered_In_Monitoring</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4) OR (1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Monitoring_Start_Time</targetReference>
            </connector>
            <label>Case Entered In Monitoring</label>
        </rules>
        <rules>
            <name>Case_out_of_monitoring</name>
            <conditionLogic>(1 AND 2 AND 6) OR (5 AND 3 AND 4) OR (1 AND 2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Incident</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Monitoring_End_Time</targetReference>
            </connector>
            <label>Case Out of Monitoring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flag_Check</name>
        <label>Flag Check</label>
        <locationX>3350</locationX>
        <locationY>2327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMB_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_MCN.CDM_SMB_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_SMB_Flag_Decision</targetReference>
            </connector>
            <label>SMB = False</label>
        </rules>
        <rules>
            <name>SMB_True_Support_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_MCN.CDM_SMB_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Id__r.Site_Does_Not_Have_HelpDesk_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_SMB_Flag_Decision_0</targetReference>
            </connector>
            <label>SMB = True Support = False</label>
        </rules>
        <rules>
            <name>SMB_True_Support_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_MCN.CDM_SMB_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Id__r.Site_Does_Not_Have_HelpDesk_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>State_Queue_Check</targetReference>
            </connector>
            <label>SMB = True Support = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Null_Check</name>
        <label>Group Null Check</label>
        <locationX>2954</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>Group Null</defaultConnectorLabel>
        <rules>
            <name>Group_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Group Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_SMB_Flag_Decision</name>
        <label>Not SMB Flag Decision</label>
        <locationX>1370</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>varDefaultQueue_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>varMCNQueue_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMCNQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varMCNQueue_Assignment</targetReference>
            </connector>
            <label>varMCNQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>varGUCustIDQueue_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGUCustIDQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varGUCustIDQueue_Assignment</targetReference>
            </connector>
            <label>varGUCustIDQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>varOPCustIDQueue_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOPCustIDQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varOPCustIDQueue_Assignment</targetReference>
            </connector>
            <label>varOPCustIDQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>Creation_Cat_Hosted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Creation_Category__r.Creation_Category_Tags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hosted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Node_2</targetReference>
            </connector>
            <label>Creation Cat = Hosted</label>
        </rules>
        <rules>
            <name>Country_CA_US_varStateQueue_Null</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStateQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varStateQueue_Assignment</targetReference>
            </connector>
            <label>Country = CA/US &amp; varStateQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>Country_CA_US_varCountryQueue_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountryQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varCountryQueue_Assignment</targetReference>
            </connector>
            <label>Country &lt;&gt; CA/US &amp; varCountryQueue &lt;&gt; Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_SMB_Flag_Decision_0</name>
        <label>Not SMB Flag Decision</label>
        <locationX>3482</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>varDefaultQueue_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>varMCNQueue_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMCNQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varMCNQueue_Assignment_0</targetReference>
            </connector>
            <label>varMCNQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>varGUCustIDQueue_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGUCustIDQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varGUCustIDQueue_Assignment_0</targetReference>
            </connector>
            <label>varGUCustIDQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>varOPCustIDQueue_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOPCustIDQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varOPCustIDQueue_Assignment_0</targetReference>
            </connector>
            <label>varOPCustIDQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>Creation_Cat_Node_1_Country_CA_US</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Creation_Category__r.Creation_Category_Tags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hosted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_US_CA_SMB</targetReference>
            </connector>
            <label>Creation Cat = Hosted &amp; Country = CA/US</label>
        </rules>
        <rules>
            <name>Creation_Cat_Node_1_Country_CA_US_varCountryQueue_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Creation_Category__r.Assignment_Cat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Node 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountryQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varCountryQueue_Assignment_0_0</targetReference>
            </connector>
            <label>Creation Cat = Hosted &amp; Country &lt;&gt; CA/US &amp; varCountryQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>Creation_Cat_Node_1_Country_CA_US_varCountryQueue_Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Creation_Category__r.Assignment_Cat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Node 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountryQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varDefaultQueue_Assignment_0_0</targetReference>
            </connector>
            <label>Creation Cat = Hosted &amp; Country &lt;&gt; CA/US &amp; varCountryQueue = Null</label>
        </rules>
        <rules>
            <name>Country_CA_US_varStateQueue_Null_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStateQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varStateQueue_Assignment_0</targetReference>
            </connector>
            <label>Country = CA/US &amp; varStateQueue &lt;&gt; Null</label>
        </rules>
        <rules>
            <name>Country_CA_US_varCountryQueue_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountryQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varCountryQueue_Assignment_0</targetReference>
            </connector>
            <label>Country &lt;&gt; CA/US &amp; varCountryQueue &lt;&gt; Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check</name>
        <label>Origin Check</label>
        <locationX>2954</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EC_Case_with_Open_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EC_Case_with_Dispatch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_HOS_Work_Order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>EC Case with Open Work Order</label>
        </rules>
        <rules>
            <name>Origin_Web_Pulse</name>
            <conditionLogic>((1 OR 2) AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pulse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_MCN</targetReference>
            </connector>
            <label>Origin = Web/Pulse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Flow_Check</name>
        <label>Skip Flow Check</label>
        <locationX>3680</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Flow_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Automation_Setting__c.Skip_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_In_Monitoring_or_Not</targetReference>
            </connector>
            <label>Skip Flow = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Queue_Check</name>
        <label>State Queue Check</label>
        <locationX>4934</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>varDefaultQueue_Assignment_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_US_or_CA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_MCN.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_MCN.Account_Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_HOS_SMB_IM_Sales</targetReference>
            </connector>
            <label>Country = US or CA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IDGuCustomerId</name>
        <dataType>String</dataType>
        <expression>&apos;ID&apos; &amp; {!GuCustomerId}</expression>
    </formulas>
    <formulas>
        <name>IDMCN</name>
        <dataType>String</dataType>
        <expression>&apos;ID&apos; &amp; {!MCN}</expression>
    </formulas>
    <formulas>
        <name>IDOpCustomerId</name>
        <dataType>String</dataType>
        <expression>&apos;ID&apos; &amp; {!OpCustomerId}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TotalHrsInMonitoring</name>
        <dataType>Number</dataType>
        <expression>(({!$Flow.CurrentDateTime}-{!$Record__Prior.Monitoring_Start_Time__c})*24) +
IF(ISNULL({!$Record__Prior.Total_hours_in_Monitoring__c}),0,{!$Record__Prior.Total_hours_in_Monitoring__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Hospitality Case Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hospitality Case Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_GU</name>
        <label>Get Account - GU</label>
        <locationX>3350</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_OP_Cust_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_MCN.Global_Ultimate_Lookup__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>GuCustomerId</assignToReference>
            <field>Customer_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_MCN</name>
        <label>Get Account - MCN</label>
        <locationX>3350</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignMCN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Support_Queue</name>
        <label>Get Case Support Queue</label>
        <locationX>1502</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Lock_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Support_Queue__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Support_Queue_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_OP</name>
        <label>Get Customer - OP</label>
        <locationX>3350</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_GU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_MCN.ROR_Operational_Parent__c</elementReference>
            </value>
        </filters>
        <object>Customer__c</object>
        <outputAssignments>
            <assignToReference>OpCustomerId</assignToReference>
            <field>Customer_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>2954</locationX>
        <locationY>2975</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseOwnerQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Country</name>
        <label>Get Queue - Country</label>
        <locationX>3350</locationX>
        <locationY>1967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Account_Country_Code__c</elementReference>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varCountryQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Default</name>
        <label>Get Queue - Default</label>
        <locationX>3350</locationX>
        <locationY>2207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flag_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varDefaultQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_GU_Cust_ID</name>
        <label>Get Queue - GU Cust ID</label>
        <locationX>3350</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_MCN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GU-CustID</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDGuCustomerId</elementReference>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varGUCustIDQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_HOS_SMB_IM_Sales</name>
        <label>Get Queue - HOS SMB IM Sales</label>
        <locationX>4802</locationX>
        <locationY>2567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOS SMB IM Sales</stringValue>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>caseOwnerQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_HOS_Work_Order</name>
        <label>Get Queue - HOS Work Order</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web WO</stringValue>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>caseOwnerQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_MCN</name>
        <label>Get Queue - MCN</label>
        <locationX>3350</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MCN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDMCN</elementReference>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varMCNQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Node_2</name>
        <label>Get Queue - Node 2</label>
        <locationX>1370</locationX>
        <locationY>2567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOS Category Node 2</stringValue>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>caseOwnerQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_OP_Cust_ID</name>
        <label>Get Queue - OP Cust ID</label>
        <locationX>3350</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_GU_Cust_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OP-CustID</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDOpCustomerId</elementReference>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varOPCustIDQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_State</name>
        <label>Get Queue - State</label>
        <locationX>3350</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>varStateQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_US_CA_SMB</name>
        <label>Get Queue - US CA SMB</label>
        <locationX>3218</locationX>
        <locationY>2567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US CA SMB</stringValue>
            </value>
        </filters>
        <object>Hospitality_Case_Assignment_Rule__mdt</object>
        <outputAssignments>
            <assignToReference>caseOwnerQueue</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2822</locationX>
        <locationY>3215</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_EC_Validation_Now__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Locked</name>
        <label>Update Case Locked</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>Case_Assignment_Lock__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_EC_Validation_Now__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Monitoring_End_Time</name>
        <label>Update Case Monitoring End Time</label>
        <locationX>1502</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Get_Case_Support_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Monitoring_End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_hours_in_Monitoring__c</field>
            <value>
                <elementReference>TotalHrsInMonitoring</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Monitoring_Start_Time</name>
        <label>Update Case Monitoring Start Time</label>
        <locationX>1238</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Get_Case_Support_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Monitoring_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3554</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Flow_Check</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &apos;Hospitality Support&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseOwnerQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GuCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MCN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountryQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGUCustIDQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMCNQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOPCustIDQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStateQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
