force-app/main/default/flows/ISR1_Lead_lock_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NamerSixDaysNotification</name>
        <label>NamerSixDaysNotification</label>
        <locationX>984</locationX>
        <locationY>470</locationY>
        <actionName>Lead.NamerSixDaysNotification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Validate_if_Lead_type_is_Partner_List_Import</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_GDPR_Support_Team</name>
        <label>Notify GDPR Support Team</label>
        <locationX>1031</locationX>
        <locationY>840</locationY>
        <actionName>Lead.GDPR_Lead_Notify_Suspend_Process</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Sales_Rep</name>
        <label>Send Notification to Sales Rep</label>
        <locationX>367</locationX>
        <locationY>839</locationY>
        <actionName>Lead.SendNotificationToSalesRepOwner_and_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GDPR_Suspend_Processing_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Notification_To_Sales_Rep</name>
        <label>Check Notification To Sales Rep</label>
        <locationX>529</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>GDPR_Suspend_Processing_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_to_Sales_Rep</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotificationForSalesRep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LeadStatusSLA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadOwnerManage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_Sales_Rep</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notification to Sales Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>GDPR_Suspend_Processing_Request</name>
        <label>GDPR_Suspend_Processing_Request</label>
        <locationX>792</locationX>
        <locationY>797</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GDPR_Suspend_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuspendProcessing_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_GDPR_Support_Team</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>GDPR_Suspend_Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Namer_Send_Notification_after_5_days</name>
        <label>Namer Send Notification after 5 days</label>
        <locationX>814</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>Validate_if_Lead_type_is_Partner_List_Import</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification_after_5_days</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Namer_Six_Days_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadOwnerManage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Namer_Six_Days_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Notification after 5 days</label>
        </rules>
    </decisions>
    <decisions>
        <description>EBA_SF-1910: ISR 1 Lead Process Redesign --&gt; In this story, we will update record type to &apos;Partner Lead&apos; If the Lead type is Partner List Import  and record type is either &apos;Retail NCR Enterprise Managed&apos; or &apos;Retail Channel/Partner Managed&apos;</description>
        <name>Validate_if_Lead_type_is_Partner_List_Import</name>
        <label>Lead Automation</label>
        <locationX>607</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Check_Notification_To_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLeadTypePartnerListImport</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner List Import</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124u000000l640AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124u000000l641AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_ISR</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsLeadTypePartnerListImport</label>
        </rules>
        <rules>
            <name>IsLeadDisqualified</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012700000001S2WAAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120g000000607BAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDisqualifyDate</targetReference>
            </connector>
            <label>IsLeadDisqualified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormatCurrentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>PopulateCurrentDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!FormatCurrentDate})</expression>
    </formulas>
    <interviewLabel>ISR1 Lead lock Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Namer_Six_Days_Notification</name>
        <label>Upadte Namer Six Days Notification</label>
        <locationX>1205</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>NamerSixDaysNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>Namer_Six_Days_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_ISR</name>
        <label>Update Lead ISR</label>
        <locationX>367</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Check_Notification_To_Sales_Rep</targetReference>
        </connector>
        <inputAssignments>
            <field>Partner_Provided__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012700000001S2HAAU</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDisqualifyDate</name>
        <label>UpdateDisqualifyDate</label>
        <locationX>834</locationX>
        <locationY>589</locationY>
        <inputAssignments>
            <field>Disqualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Namer_Send_Notification_after_5_days</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
