force-app/main/default/flows/New_Customer_Case_From_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToRecord</name>
        <label>NavigateToRecord</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseObj.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CaseObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Reason_for_Reaching_CSM_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_For_Reaching_CSM_Team</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.ATM_IDs_FUAs_or_locations_of_terminals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATM_IDs_FUAs_or_locations_of_affected_terminals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Are_there_any_units_down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_any_units_down</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Provide_SR_numbers_of_related_incidents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_SR_numbers_of_related_incidents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Provide_NEOS_incident_numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_NEOS_incident_numbers_of_related_incidents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.State_which_MS_is_the_issue_related_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_state_which_MS_is_the_issue_related_to_AIM_EPS_SWD_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.What_is_the_issue_affecting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_issue_affecting_dispatching_MyNCR_another_system_invoicing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Is_this_an_invoice_dispute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_an_invoice_dispute_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Is_this_about_T_M_or_maintenance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_about_T_M_or_maintenance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Provide_related_invoice_numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_related_invoice_numbers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Provide_related_SOM_request_numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_related_SOM_request_numbers_if_possible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Is_this_an_issue_affecting_ATMs_ITMs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_an_issue_that_is_affecting_ATMs_ITMs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Specific_services_or_products_affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_any_specific_services_or_products_affected_If_yes_please_state_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_describe_the_issue_and_provide_as_much_detail_as_possible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Is_this_a_chronic_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_chronic_issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Details_of_the_chronic_issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_in_detail_about_the_chronic_issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseObj.Reason_for_Escalating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Escalation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <constants>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>ATM_ITM_Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_an_issue_affecting_ATMs_ITMs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reason_Reaching_toCSM_Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Reaching_CSM_Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Units_Down_Yes_No</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_there_any_units_down__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Customer Case From Community {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Case From Community</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <inputReference>CaseObj</inputReference>
    </recordCreates>
    <screens>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Record</targetReference>
        </connector>
        <fields>
            <name>Case</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Escalation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Escalation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Escalation</name>
            <fieldText>Reason for Escalation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Escalation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_For_Reaching_CSM_Team</name>
            <choiceReferences>Reason_Reaching_toCSM_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Reaching Banking Customer Success Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_state_which_MS_is_the_issue_related_to_AIM_EPS_SWD_other</name>
            <dataType>String</dataType>
            <fieldText>Please state which MS is the issue related to (AIM, EPS, SWD, other)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about ATM/ITM Managed Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_an_issue_that_is_affecting_ATMs_ITMs</name>
            <choiceReferences>ATM_ITM_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an issue that is affecting ATMs/ITMs?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ATM_IDs_FUAs_or_locations_of_affected_terminals</name>
            <dataType>String</dataType>
            <fieldText>ATM IDs, FUAs or locations of affected terminals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>ATM/ITM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about Entitlements</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_there_any_units_down</name>
            <choiceReferences>Units_Down_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any units down?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>ATM/ITM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_issue_affecting_dispatching_MyNCR_another_system_invoicing</name>
            <dataType>String</dataType>
            <fieldText>What is the issue affecting (dispatching, MyNCR, another system, invoicing)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about Entitlements</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_SR_numbers_of_related_incidents</name>
            <dataType>String</dataType>
            <fieldText>Please provide SR numbers of related incidents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about ATM/ITM Hardware</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_NEOS_incident_numbers_of_related_incidents</name>
            <dataType>String</dataType>
            <fieldText>Please provide NEOS incident numbers of related incidents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about ATM/ITM Software</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about ATM/ITM Managed Services</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_an_invoice_dispute_1</name>
            <choiceReferences>ATM_ITM_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this an invoice dispute?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about my Invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_about_T_M_or_maintenance</name>
            <dataType>String</dataType>
            <fieldText>Is this about T&amp;M or maintenance?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about my Invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_related_invoice_numbers</name>
            <dataType>String</dataType>
            <fieldText>Please provide related invoice numbers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about my Invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_related_SOM_request_numbers_if_possible</name>
            <dataType>String</dataType>
            <fieldText>Please provide related SOM request numbers if possible</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I have a question/issue about my Invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_there_any_specific_services_or_products_affected_If_yes_please_state_which</name>
            <dataType>String</dataType>
            <fieldText>Are there any specific services or products affected? If yes, please state which</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Reaching_CSM_Team</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_describe_the_issue_and_provide_as_much_detail_as_possible</name>
            <fieldText>Please describe the issue and provide as much detail as possible</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_a_chronic_issue</name>
            <choiceReferences>Units_Down_Yes_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a chronic issue?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_explain_in_detail_about_the_chronic_issue</name>
            <dataType>String</dataType>
            <fieldText>Please explain in detail about the chronic issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_a_chronic_issue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreateCase</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>SAVE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-align_absolute-center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
