force-app/main/default/flows/New_SF_Support_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigateToRecord</name>
        <label>NavigateToRecord</label>
        <locationX>538</locationX>
        <locationY>840</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Case_Assignment_Rule</name>
        <label>Run Case Assignment Rule</label>
        <locationX>532</locationX>
        <locationY>667</locationY>
        <actionName>CaseApexUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NavigateToRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>CaseIds</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Case_Record_Type_assignment</name>
        <label>Case Record Type assignment</label>
        <locationX>550</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120g00000060f3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecord.Business_Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SF_Support_Case</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>GetFieldName</name>
        <dataType>String</dataType>
        <expression>IF(FIND(&apos;,&apos;, {!InputFieldList}) &gt; 0, LEFT({!InputFieldList}, FIND(&apos;,&apos;, {!InputFieldList}) -1), {!InputFieldList})</expression>
    </formulas>
    <formulas>
        <name>GetRemnFieldList</name>
        <dataType>String</dataType>
        <expression>IF(FIND(&apos;,&apos;,{!InputFieldList}) &gt; 0, TRIM(RIGHT({!InputFieldList},LEN({!InputFieldList})-FIND(&apos;,&apos;,{!InputFieldList}))), &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>New SF {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New SF Support Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SF_Support_Case</name>
        <label>Create SF Support Case</label>
        <locationX>554</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Run_Case_Assignment_Rule</targetReference>
        </connector>
        <inputReference>CaseRecord</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>478</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Record_Type_assignment</targetReference>
        </connector>
        <fields>
            <name>CaseReason</name>
            <extensionName>c:sFGlobalSupportCase</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CaseRecord</name>
                <value>
                    <elementReference>CaseRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseReasonSelValue</name>
                <value>
                    <elementReference>objectName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseRecord</assignToReference>
                <name>CaseRecord</name>
            </outputParameters>
        </fields>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;{!CaseRecord.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>366</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Field1</name>
        <apexClass>FieldWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldList</name>
        <apexClass>FieldWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputFieldList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingFieldList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultList</name>
        <apexClass>FieldWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
