force-app/main/default/flows/Opp_Campaign_Primary_Contact_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>CheckPAndSCam</name>
        <label>CheckPAndSCam</label>
        <locationX>1032</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PDoesnotEqualSCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppRecords.CampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetOppRecords.Secondary_Campaign__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCampaignMemberRecords</targetReference>
            </connector>
            <label>PDoesnotEqualSCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPAndSRecords</name>
        <label>CheckPAndSRecords</label>
        <locationX>1039</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>UpdatePSRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSCamRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPCamWhenSCanNotNull.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecordPSCam</targetReference>
            </connector>
            <label>PSCamRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPCam</name>
        <label>CheckPCam</label>
        <locationX>363</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>UpdatePCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCam1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondaryCamNull.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePCam</targetReference>
            </connector>
            <label>PCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPrimaryCam</name>
        <label>CheckPrimaryCam</label>
        <locationX>694</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>CheckSCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppRecords.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSecondaryCam</targetReference>
            </connector>
            <label>PCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSCa</name>
        <label>CheckSCam</label>
        <locationX>1160</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>UpdateSecondaryCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCamCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMemberRecords.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSCamRecords</targetReference>
            </connector>
            <label>SCamCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSCam</name>
        <label>CheckSCam</label>
        <locationX>696</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>GetPCamWhenSCanNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCam1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppRecords.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondaryCamNull</targetReference>
            </connector>
            <label>SCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSecondaryCam</name>
        <label>CheckSecondaryCam</label>
        <locationX>696</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>GetCampaignMemberRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppRecords.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SCam</label>
        </rules>
    </decisions>
    <interviewLabel>Opp – Campaign, Primary Contact, Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp – Campaign, Primary Contact, Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePCam</name>
        <label>CreatePCam</label>
        <locationX>246</locationX>
        <locationY>599</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordPSCam</name>
        <label>CreateRecordPSCam</label>
        <locationX>1249</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>CheckPAndSCam</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSCamRecords</name>
        <label>CreateSCamRecords</label>
        <locationX>1383</locationX>
        <locationY>235</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GetOppRecords.Secondary_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCampaignMemberRecords</name>
        <label>GetCampaignMemberRecords</label>
        <locationX>1029</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSCa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Secondary_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecords</name>
        <label>GetOppRecords</label>
        <locationX>527</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPrimaryCam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPCamWhenSCanNotNull</name>
        <label>GetPCamWhenSCanNotNull</label>
        <locationX>1047</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPAndSRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SecondaryCamNull</name>
        <label>SecondaryCamNull</label>
        <locationX>528</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPCam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePCam</name>
        <label>UpdatePCam</label>
        <locationX>245</locationX>
        <locationY>370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePSRecords</name>
        <label>UpdatePSRecords</label>
        <locationX>849</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>CheckPAndSCam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSecondaryCam</name>
        <label>UpdateSecondaryCam</label>
        <locationX>1363</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Secondary_Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOppRecords.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>88</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>GetOppRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PCamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
