force-app/main/default/flows/Opportunity_Next_Activity_Date_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Event_Date</name>
        <label>Event Date</label>
        <locationX>612</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>NextEventDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventActivity.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Date_Assignment</name>
        <label>Task Date Assignment</label>
        <locationX>310</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>NextTaskDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskActivity.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_Activity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Event_Date</name>
        <label>Update Event Date</label>
        <locationX>837</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>UpdateActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextEventDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Activity_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_New_Date</name>
        <label>Update Task New Date</label>
        <locationX>1052</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>UpdateActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextTaskDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Activity_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_Dates</name>
        <label>Compare Dates</label>
        <locationX>503</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Update_Event_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextTaskDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NextEventDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_New_Date</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Exist</name>
        <label>Event Exist</label>
        <locationX>479</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Final_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventActivity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Event_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_date</name>
        <label>Final date</label>
        <locationX>834</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>compair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextTaskDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NextEventDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Compare_Dates</targetReference>
            </connector>
            <label>compair</label>
        </rules>
        <rules>
            <name>Final_Event_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextEventDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NextTaskDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Event_Date</targetReference>
            </connector>
            <label>Final Event Date</label>
        </rules>
        <rules>
            <name>Final_Task_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextTaskDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NextEventDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Task_New_Date</targetReference>
            </connector>
            <label>Final Task Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_exist</name>
        <label>Task exist</label>
        <locationX>53</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Get_Event_Activity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskActivity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Task_Date_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Next Activity Date Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CATM Opportunity Next Activity Date Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event_Activity_Records</name>
        <label>Get Event Activity Records</label>
        <locationX>311</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurOpportunityID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>EventActivity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Activity_Records</name>
        <label>Get Task Activity Records</label>
        <locationX>62</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurOpportunityID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskActivity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Activity_Date</name>
        <label>Update New Activity Date</label>
        <locationX>448</locationX>
        <locationY>32</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Open_Activity__c</field>
            <value>
                <elementReference>UpdateActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task_Activity_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurAccountEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>CurOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cutAccountTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>EventActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>NewActivityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextEventDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NextTaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdateActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
