force-app/main/default/flows/Opportunity_Campaign_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Campaign_Member_Criteria</name>
        <label>Check Campaign Member Criteria</label>
        <locationX>409</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Criteria_Match</name>
            <conditionLogic>(2 AND (3 OR 4)) AND (1 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contacts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contacts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CampaignId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Campaign__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Secondary_Campaign__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckPrimaryCam</targetReference>
            </connector>
            <label>Campaign Member Criteria Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Marketing_Support_Campaign_Specific_condition</name>
        <label>Check Marketing Support Campaign Specific condition</label>
        <locationX>304</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Member_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Primary_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposal_Marketing_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Campaign</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Blank Primary Campaign</label>
        </rules>
        <rules>
            <name>Non_blank_Primary_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposal_Marketing_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Secondary_Campaign</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Non blank Primary Campaign</label>
        </rules>
        <rules>
            <name>Non_Blank_Primary_and_Secondary_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposal_Marketing_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Secondary_Campaign</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Non Blank Primary and Secondary Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proposal_Marketing_Support</name>
        <label>Check Proposal Marketing Support</label>
        <locationX>501</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Check_Campaign_Member_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proposal_Marketing_Support_Equals_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposal_Marketing_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Marketing_Support_Campaign_Specific_condition</targetReference>
            </connector>
            <label>Proposal Marketing Support Equals True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPAndSCam</name>
        <label>CheckPAndSCam</label>
        <locationX>1440</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PDoesnotEqualSCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Secondary_Campaign__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCampaignMemberRecords</targetReference>
            </connector>
            <label>PDoesnotEqualSCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPAndSRecords</name>
        <label>CheckPAndSRecords</label>
        <locationX>1446</locationX>
        <locationY>1078</locationY>
        <defaultConnector>
            <targetReference>UpdatePSRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSCamRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPCamWhenSCanNotNull.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecordPSCam</targetReference>
            </connector>
            <label>PSCamRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPCam</name>
        <label>CheckPCam</label>
        <locationX>770</locationX>
        <locationY>855</locationY>
        <defaultConnector>
            <targetReference>UpdatePCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCam1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SecondaryCamNull.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePCam</targetReference>
            </connector>
            <label>PCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPrimaryCam</name>
        <label>CheckPrimaryCam</label>
        <locationX>982</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>CheckSCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSecondaryCam</targetReference>
            </connector>
            <label>PCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSCa</name>
        <label>CheckSCam</label>
        <locationX>1568</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>UpdateSecondaryCam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCamCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMemberRecords.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSCamRecords</targetReference>
            </connector>
            <label>SCamCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSCam</name>
        <label>CheckSCam</label>
        <locationX>1104</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>GetPCamWhenSCanNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCam1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondaryCamNull</targetReference>
            </connector>
            <label>SCam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSecondaryCam</name>
        <label>CheckSecondaryCam</label>
        <locationX>1104</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>GetCampaignMemberRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SCam</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Cam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Campaign Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePCam</name>
        <label>CreatePCam</label>
        <locationX>655</locationX>
        <locationY>985</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRecordPSCam</name>
        <label>CreateRecordPSCam</label>
        <locationX>1657</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>CheckPAndSCam</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSCamRecords</name>
        <label>CreateSCamRecords</label>
        <locationX>1790</locationX>
        <locationY>622</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Secondary_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCampaignMemberRecords</name>
        <label>GetCampaignMemberRecords</label>
        <locationX>1437</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSCa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPCamWhenSCanNotNull</name>
        <label>GetPCamWhenSCanNotNull</label>
        <locationX>1423</locationX>
        <locationY>940</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPAndSRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SecondaryCamNull</name>
        <label>SecondaryCamNull</label>
        <locationX>936</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPCam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_Campaign</name>
        <label>Update Primary Campaign</label>
        <locationX>167</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Check_Campaign_Member_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7014u000001sprsAAA</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Secondary_Campaign</name>
        <label>Update Secondary Campaign</label>
        <locationX>50</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Check_Campaign_Member_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_Campaign__c</field>
            <value>
                <stringValue>7014u000001sprsAAA</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePCam</name>
        <label>UpdatePCam</label>
        <locationX>654</locationX>
        <locationY>756</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePSRecords</name>
        <label>UpdatePSRecords</label>
        <locationX>1257</locationX>
        <locationY>1073</locationY>
        <connector>
            <targetReference>CheckPAndSCam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSecondaryCam</name>
        <label>UpdateSecondaryCam</label>
        <locationX>1771</locationX>
        <locationY>437</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contacts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>332</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Proposal_Marketing_Support</targetReference>
        </connector>
        <filterFormula>AND(
{!$Setup.Automation_Setting__c.Skip_Flow__c} = false,
{!$Record.CATM_Record__c} = false,
OR(
{!$Record.Proposal_Marketing_Support__c} = true,

AND(NOT(ISBLANK({!$Record.Contacts__c})),
OR(
NOT(ISBLANK({!$Record.CampaignId})),
NOT(ISBLANK({!$Record.Secondary_Campaign__c}))
)
)
)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PCamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SCamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
