force-app/main/default/flows/Opportunity_sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JP_More_Information_Request</name>
        <label>JP More Information Request</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_More_Information_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>JP_Pricing_request_raised</name>
        <label>JP Pricing request raised</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_Pricing_request_raised</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>JP_Pricing_request_rejected</name>
        <label>JP Pricing request rejected</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_Pricing_request_rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>JP_Pricing_request_withdrawn</name>
        <label>JP Pricing request withdrawn</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_Pricing_request_withdrawn</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>More_Information_Request</name>
        <label>More Information Request</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_More_Information_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pricing_Analyst_Assignment_Email</name>
        <label>Pricing Analyst Assignment Email</label>
        <locationX>1392</locationX>
        <locationY>830</locationY>
        <actionName>Opportunity.JP_Pricing_Analyst_Assignment_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pricing_Approved</name>
        <label>Pricing Approved</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.Pricing_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rate_Review_Requested</name>
        <label>Rate Review Requested</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <actionName>Opportunity.JP_Rate_Review_Requested</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>JP_Logs_More_Info_Provided</name>
        <label>JP Logs More Info Provided</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>JP_More_Info_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>More Information Provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_More_Information_Request</targetReference>
            </connector>
            <label>JP More Info Provided</label>
        </rules>
        <rules>
            <name>JP_More_Info_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>More Information Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_Information_Request</targetReference>
            </connector>
            <label>JP More Info Request</label>
        </rules>
        <rules>
            <name>JP_More_Info_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_Pricing_request_withdrawn</targetReference>
            </connector>
            <label>JP More Info Withdrawn-Withdrawn</label>
        </rules>
        <rules>
            <name>JP_Pricing_Review_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_Pricing_request_raised</targetReference>
            </connector>
            <label>JP Pricing Review Request-Pending</label>
        </rules>
        <rules>
            <name>JP_Pricing_Status_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Approved</targetReference>
            </connector>
            <label>JP Pricing Status Approve</label>
        </rules>
        <rules>
            <name>JP_Pricing_Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_Pricing_request_rejected</targetReference>
            </connector>
            <label>JP Pricing Status Rejected</label>
        </rules>
        <rules>
            <name>JP_Rate_Review_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rate Review Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_Review_Requested</targetReference>
            </connector>
            <label>JP Rate Review Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>JP_Pricing_Analyst_Assignment</name>
        <label>JP Pricing Analyst Assignment</label>
        <locationX>1524</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Pricing_Analyst_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Analyst__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldrecord.Pricing_Analyst__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Pricing_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Analyst_Assignment_Email</targetReference>
            </connector>
            <label>Pricing Analyst Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Review_RequestStatus_changed</name>
        <label>Pricing_Review_RequestStatus_changed</label>
        <locationX>1524</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>JP_Pricing_Analyst_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Pricing_review_Request_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Record.Pricing_Review_Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oldrecord.Pricing_Review_Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JP_Logs_More_Info_Provided</targetReference>
            </connector>
            <label>Pricing review Request Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>Currenttime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Opportunity sub flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity sub flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricing_Review_RequestStatus_changed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oldrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
