force-app/main/default/flows/Populate_DA_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Escalation_Update_to_Customer_Success_Team</name>
        <label>Case Escalation Update to Customer Success Team</label>
        <locationX>270</locationX>
        <locationY>408</locationY>
        <actionName>Case.Case_Escalation_Update_to_Customer_Success_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_Case_Owner_of_New_Case_Comments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner</name>
        <label>Notify Case Owner</label>
        <locationX>402</locationX>
        <locationY>864</locationY>
        <actionName>Case.Notify_Case_Owner_If_new_comment_is_made</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_record_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifySAOwner</name>
        <label>notifySAOwner</label>
        <locationX>534</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>dealsDeskAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ss185934@ncr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ss185934@ncr.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SANotificationSubj</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispute_Case_to_Qualtrics</name>
        <label>Send Dispute Case to Qualtrics</label>
        <locationX>578</locationX>
        <locationY>1320</locationY>
        <actionName>Case.Send_Dispute_Case_to_Qualtrics</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>If_case_is_inserted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>if SA Owner is populated them email should be sent to Solution Assurance Owner for Deals Desk Cases</description>
        <name>Case_Escalation</name>
        <label>Case Escalation</label>
        <locationX>534</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Notify_Case_Owner_of_New_Case_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Community_Case_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsEscalated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Escalation_Update_to_Customer_Success_Team</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Customer Community Case Escalation</label>
        </rules>
        <rules>
            <name>SAOwnerNotNul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deals Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SA_Owner_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SA_Owner_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notifySAOwner</targetReference>
            </connector>
            <label>SAOwnerNotNul</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Case_type</name>
        <label>Check for Case type</label>
        <locationX>1986</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>if_immediate_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close the Loop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Immediate_Detractor_Escalate_date</targetReference>
            </connector>
            <label>if immediate case</label>
        </rules>
        <rules>
            <name>if_immediate_detractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close the Loop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immediate Detractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>if immediate detractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_escalate_due_date</name>
        <label>check for escalate due date</label>
        <locationX>3174</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>if_due_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Due_date_passed</targetReference>
            </connector>
            <label>if due date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_changed</name>
        <label>Check if Status is changed</label>
        <locationX>1326</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Is_Status_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerSuccessTeamCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_close_status</targetReference>
            </connector>
            <label>Is Status changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_case_status</name>
        <label>Checking case status</label>
        <locationX>710</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>If_case_is_inserted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_status_is_closed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND NOT(5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@ncr.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Dispute_Case_to_Qualtrics</targetReference>
            </connector>
            <label>If status is closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>for_detractor_type_case</name>
        <label>for detractor type case</label>
        <locationX>2646</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>if_detractor_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close the Loop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Detractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_detractor_escalated_case_field</targetReference>
            </connector>
            <label>if detractor case</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_case_is_inserted</name>
        <label>If case is inserted</label>
        <locationX>710</locationX>
        <locationY>1536</locationY>
        <defaultConnector>
            <targetReference>Survey_VOC_Case_Subflow_Create_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_created1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ROR_created_date</targetReference>
            </connector>
            <label>If created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_record_created</name>
        <label>Is record created</label>
        <locationX>534</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Survey_VOC_Case_Subflow_Create_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Check_if_record_type_is_customer_success_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerSuccessTeamCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_Subflow</targetReference>
            </connector>
            <label>Check if record type is customer success team</label>
        </rules>
        <rules>
            <name>If_created</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloseTheLoopRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Voc_Case_SubFlow</targetReference>
            </connector>
            <label>If created</label>
        </rules>
        <rules>
            <name>If_Dispute_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_case_status</targetReference>
            </connector>
            <label>If Dispute record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Case_Owner_of_New_Case_Comments</name>
        <label>Notify Case Owner of New Case Comments</label>
        <locationX>534</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Is_record_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Comment_is_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Comment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetOwnerIDofcase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner</targetReference>
            </connector>
            <label>If Case Comment is made</label>
        </rules>
    </decisions>
    <description>This flow will run after a case record is created or updated.
Following workflow are migrated to this flow:
1. Case: Dispute Case is Closed
2. PopulateRorCreatedDate
3. Escalate Case For Immediate Type
4. Escalate Case For Immediate Detractor Type
5. Escalate Case For Detractor Type
6. Notify On Due Date Passed</description>
    <environments>Default</environments>
    <formulas>
        <name>for_immediate_detractor_formula</name>
        <dataType>DateTime</dataType>
        <expression>IF(
OR(WEEKDAY(DATEVALUE((Now()))) = 5,WEEKDAY(DATEVALUE(Now())) = 6, WEEKDAY(DATEVALUE(Now())) = 7),
(Now()- (1/24)) + 4,
IF(WEEKDAY(DATEVALUE(Now())) = 1 , (Now()- (1/24)) + 3, (Now()- (1/24))+2)
)</expression>
    </formulas>
    <formulas>
        <name>GetOwnerIDofcase</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>ImmediateTypeformula</name>
        <dataType>DateTime</dataType>
        <expression>IF(
OR(WEEKDAY(DATEVALUE(Now())) = 5,WEEKDAY(DATEVALUE(Now())) = 6, WEEKDAY(DATEVALUE(Now())) = 7),
Now() + 4,
IF(WEEKDAY(DATEVALUE(Now())) = 1 , Now() + 3, Now()+2)
)</expression>
    </formulas>
    <formulas>
        <description>populates first contact date</description>
        <name>Populate_First_Contact_date</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Fetching Ror date value.</description>
        <name>RorCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISBLANK({!$Record.ROR_Created_Date__c}) , {!$Record.CreatedDate}, {!$Record.ROR_Created_Date__c})</expression>
    </formulas>
    <interviewLabel>Populate DA Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Auto_close_status</name>
        <label>Auto close status</label>
        <locationX>1194</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124u000000pErPAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update Immediate Detractor Escalate date</label>
        <locationX>1986</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Immediate_Detractor_Case_Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_detractor_escalated_case_field</name>
        <label>Update detractor escalated case field</label>
        <locationX>2514</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Detractor_Case_Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Due_date_passed</name>
        <label>Update Due date passed</label>
        <locationX>3042</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Is_Due_Date_Passed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Immediate_Detractor_Escalate_date</name>
        <label>Update Immediate Detractor Escalate date</label>
        <locationX>1722</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Immediate_Detractor_Case_Escalated_Date__c</field>
            <value>
                <elementReference>ImmediateTypeformula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Copy CreatedDate To RorCreatedDate.</description>
        <name>Update_ROR_created_date</name>
        <label>Update ROR created date</label>
        <locationX>578</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>Survey_VOC_Case_Subflow_Create_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ROR_Created_Date__c</field>
            <value>
                <elementReference>RorCreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Escalation</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Auto_Closing_Time</name>
            <connector>
                <targetReference>Check_if_Status_is_changed</targetReference>
            </connector>
            <label>Schedule Auto Closing Time</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Auto_Closing_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_immediate_detractor_escalate_date</name>
            <connector>
                <targetReference>Check_for_Case_type</targetReference>
            </connector>
            <label>Schedule immediate detractor escalate date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Immediate_Detractor_Case_Escalated_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_detractor_escalate_date</name>
            <connector>
                <targetReference>for_detractor_type_case</targetReference>
            </connector>
            <label>Schedule detractor escalate date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Detractor_Case_Escalated_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Schedule_Due_Date_passed</name>
            <connector>
                <targetReference>check_for_escalate_due_date</targetReference>
            </connector>
            <label>Schedule Due Date passed</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CSM_Subflow</name>
        <label>CSM Subflow</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Survey_VOC_Case_Subflow_Create_Update</targetReference>
        </connector>
        <flowName>CSM_Subflow</flowName>
        <inputAssignments>
            <name>CaseNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Global_Entitlement</name>
        <label>Subflow - Global Entitlement</label>
        <locationX>534</locationX>
        <locationY>2208</locationY>
        <flowName>Case_Subflow_Global_Entitlement</flowName>
        <inputAssignments>
            <name>CaseNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This flow will execute when case record type is SF Global Support.</description>
        <name>Subflow_SF_Global_Support</name>
        <label>Subflow - SF Global Support</label>
        <locationX>534</locationX>
        <locationY>2088</locationY>
        <connector>
            <targetReference>Subflow_Global_Entitlement</targetReference>
        </connector>
        <flowName>Case_Subflow_for_SF_Global_Support</flowName>
        <inputAssignments>
            <name>CaseNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Survey_Voc_Case_SubFlow</name>
        <label>Survey Voc Case SubFlow</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Survey_VOC_Case_Subflow_Create_Update</targetReference>
        </connector>
        <flowName>Case_Voc_Subflow</flowName>
        <inputAssignments>
            <name>CaseNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Survey_VOC_Case_Subflow_Create_Update</name>
        <label>Survey VOC Case Subflow Create/Update</label>
        <locationX>534</locationX>
        <locationY>1968</locationY>
        <connector>
            <targetReference>Subflow_SF_Global_Support</targetReference>
        </connector>
        <flowName>Case_Voc_Subflow_Create_Update</flowName>
        <inputAssignments>
            <name>CaseNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>dealsDeskAssigned</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned a Solution Assurance case.</text>
    </textTemplates>
    <textTemplates>
        <name>SANotificationSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SOLUTION ASSURANCE NOTIFICATION</text>
    </textTemplates>
    <variables>
        <name>CloseTheLoopRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Close_the_Loop</stringValue>
        </value>
    </variables>
    <variables>
        <name>CustomerSuccessTeamCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Success Team Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>FollowUpCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Close_the_Loop_Child</stringValue>
        </value>
    </variables>
</Flow>
