force-app/main/default/flows/PopulateSalesOrgCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignValueToOpportunity</name>
        <label>AssignValueToOpportunity</label>
        <locationX>948</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSalesOrdCode.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Global_Sales_Org_Exception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckForSalesOrg</name>
        <label>CheckForSalesOrg</label>
        <locationX>699</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIdSalesOrgIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesOrdCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSalesOrdCode.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValueToOpportunity</targetReference>
            </connector>
            <label>CheckIdSalesOrgIsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheck</name>
        <label>RecordTypeCheck</label>
        <locationX>150</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DitributorOrResseler</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect - Include in Funnel Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect - Include in Funnel Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.L4_Sub_Region__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>FS:NAMER:Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.MDM_Data_Source_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSalesOrdCode</targetReference>
            </connector>
            <label>DitributorOrResseler</label>
        </rules>
    </decisions>
    <interviewLabel>PopulateSalesOrgCode {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>PopulateSalesOrgCode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSalesOrdCode</name>
        <label>GetSalesOrdCode</label>
        <locationX>468</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForSalesOrg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InDirect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Sales_Org_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>30</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>RecordTypeCheck</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
