force-app/main/default/flows/Populate_Sales_Team_Organization_for_Non_CDM_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Input_Opp_Sales_Team_Organization</name>
        <label>Update Input Opp Sales Team Organization</label>
        <locationX>876</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Opp_of_Account.Sales_Org__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_New_or_Existing_Record</name>
        <label>Check If New or Existing Record</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Opp_of_Account</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Opp_Record</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Non_CDM_Account_For_Input_Opp</name>
        <label>Check Non CDM Account For Input Opp</label>
        <locationX>617</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DATA_SOURCE_CODE_NOT_CDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Account.MDM_Data_Source_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_New_or_Existing_Record</targetReference>
            </connector>
            <label>DATA SOURCE CODE NOT CDM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Account_Changed</name>
        <label>Opp Account Changed</label>
        <locationX>431</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Id_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Opp_Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Prior_Account.MDM_Data_Source_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Opp_of_Account</targetReference>
            </connector>
            <label>Account Id Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Opp_Record_Not_Blank</name>
        <label>Other Opp Record Not Blank</label>
        <locationX>863</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Opp_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Opp_of_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Input_Opp_Sales_Team_Organization</targetReference>
            </connector>
            <label>Other_Opp_Not_Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Populate Sales Team Organization for Non CDM Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Sales Team Organization for Non CDM Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Account</name>
        <label>Get Opportunity Account</label>
        <locationX>469</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Non_CDM_Account_For_Input_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Account</name>
        <label>Get Prior Account</label>
        <locationX>434</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Account_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prior_Opp_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Opp_Record</name>
        <label>Get Prior Opp Record</label>
        <locationX>436</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prior_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Opp of Account Other than incoming Opportunity</description>
        <name>Other_Opp_of_Account</name>
        <label>Other Opp of Account</label>
        <locationX>703</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Opp_Record_Not_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
