force-app/main/default/flows/qtc_Multi_Site_Amendments_Create_Payment_Site_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>206</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>NewPaymentSites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_NCR_Payment_Sites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_NCR_Payment_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote</name>
        <label>Assign Quote</label>
        <locationX>328</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_NCR_Payment_Sites.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_NCR_Payment_Sites.Quote_and_Account_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>ATG - 13-Oct - SFCPQBLG-431 - Added in population of &quot;Quote and Account ID&quot; field to duplicate detection.</description>
    <formulas>
        <name>accountQuoteId</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_NCR_Payment_Sites.Account_Sites__c} + {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Multi-Site Amendments - Create Payment Site Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi-Site Amendments - Create Payment Site Records</label>
    <loops>
        <name>Loop_through_NCR_Payment_Sites</name>
        <label>Loop through NCR Payment Sites</label>
        <locationX>419</locationX>
        <locationY>537</locationY>
        <collectionReference>Get_NCR_Payment_Sites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Sites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Sites</name>
        <label>Create Payment Sites</label>
        <locationX>602</locationX>
        <locationY>534</locationY>
        <inputReference>NewPaymentSites</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_NCR_Payment_Sites</name>
        <label>Get NCR Payment Sites</label>
        <locationX>174</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_NCR_Payment_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCR_Payments_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_NCR_Payment_Sites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewPaymentSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCR_Payments_Site__c</objectType>
    </variables>
</Flow>
