force-app/main/default/flows/qtc_Multi_Site_AE_Only_Child_Copy_Reasons_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update</name>
        <label>Update</label>
        <locationX>497</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.qtc_Reasons_for_no_Payment_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.qtc_Multi_Site_Parent_Quote__r.qtc_Reasons_for_no_Payment_Processing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.qtc_Payments_Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.qtc_Multi_Site_Parent_Quote__r.qtc_Payments_Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Values_Changed</name>
        <label>Values Changed?</label>
        <locationX>205</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Values_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.qtc_Multi_Site_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.qtc_Multi_Site_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.qtc_Multi_Site_Relationship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.qtc_Multi_Site_Relationship__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.qtc_Has_Payments_Processing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.qtc_Has_Payments_Processing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Primary__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Primary__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.qtc_Multi_Site_Parent_Quote__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.qtc_Multi_Site_Parent_Quote__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Yes - Values Changed</label>
        </rules>
    </decisions>
    <description>On AE Only Child primary quotes with no payments where MS Parent is populated, copy Reasons for No NCR Payment and Payments Contract End Date from parent if any of the following values are changed: Primary, MS Type, MS Relationship, MS Parent, Has Payments Processing</description>
    <interviewLabel>Multi-Site AE Only Child Trigger copy of Reasons for No Payments and Payment Contract End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi-Site AE Only Child Trigger copy of Reasons for No Payments and Payment Contract End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Values_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Multi_Site_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Multi_Site_Parent_Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Has_Payments_Processing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
