force-app/main/default/flows/qtc_Sub_Blg_Start_Change_Update_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPQ_Change_in_Subscription_Billing_Start_Date_Email_Template_Channel_Partner</name>
        <label>CPQ Change in Subscription_Billing Start Date Email Template (Channel Partner)</label>
        <locationX>344</locationX>
        <locationY>598</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Fulfillment_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PrimaryContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_qtc_SubBlgStartChange_c</name>
        <label>Update qtc_SubBlgStartChange__c</label>
        <locationX>172</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.qtc_SubBlgStartChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetqtcSubBlgStartChangetotoday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CPQ_Change_in_Subscription_Billing_Start_Date_Email_Template_Channel_Partner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fulfillment_Order_Update</name>
        <label>Fulfillment Order Update</label>
        <locationX>169</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Start_Date_Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.qtc_OrderStartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_Quote__r.qtc_Channel_Local_Office_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARTNER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.qtc_OrderStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_qtc_SubBlgStartChange_c</targetReference>
            </connector>
            <label>Order Start Date Is Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>SetqtcSubBlgStartChangetotoday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>qtc Sub Blg Start Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>qtc Sub Blg Start Change Update &amp; Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fulfillment_Order</name>
        <label>Update Fulfillment Order</label>
        <locationX>571</locationX>
        <locationY>635</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_OrderStartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>qtc_FulfillmentOrder__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Dear {!$Record.qtc_Quote__r.SBQQ__PrimaryContact__r.FirstName}, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;This email is being sent to notify you that the Subscription/Billing Start Date has been changed to &lt;/span&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;{!$Record.qtc_OrderStartDate__c}]&lt;/b&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;.&amp;nbsp;If you have any questions or concerns, please contact your sales representative.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Email Subject:&lt;/b&gt; Change in Subscription/Billing Start Date for {!$Record.qtc_Quote__r.Name} {!$Record.qtc_Quote__r.qtc_Quote_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>PrimaryContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.qtc_Quote__r.SBQQ__PrimaryContact__r.Email</elementReference>
        </value>
    </variables>
</Flow>
