force-app/main/default/flows/qtc_CPQ_Populate_Payments_Solution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>743</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>$Record.qtc_Payments_Solution__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Quote_Lines_Found</name>
        <label>Quote Lines Found?</label>
        <locationX>393</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_Lines_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_Payments_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_No_Payments</targetReference>
            </connector>
            <label>No - Lines Not Found</label>
        </rules>
        <rules>
            <name>Headline_First_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments_Quote_Lines.SBQQ__ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Headline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_Payments_Solution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payments First - Headline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Headline</targetReference>
            </connector>
            <label>Headline First Found</label>
        </rules>
        <rules>
            <name>Interchange_Plus_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments_Quote_Lines.SBQQ__ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Interchange Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_Payments_Solution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Payments First - Interchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Interchange</targetReference>
            </connector>
            <label>Interchange Plus Found</label>
        </rules>
        <rules>
            <name>Legacy_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments_Quote_Lines.qtc_Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP373060217965</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_Payments_Solution__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legacy Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Legacy</targetReference>
            </connector>
            <label>Legacy Payments</label>
        </rules>
    </decisions>
    <description>16-Aug - Fixed Annual Volume / Average Check not populating on Legacy Payments.</description>
    <interviewLabel>CPQ - Populate Payments Solution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ - Populate Payments Solution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payments_Quote_Lines</name>
        <label>Get Payments Quote Lines</label>
        <locationX>177</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Lines_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP373060217965</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Payments First</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Headline</name>
        <label>Update Quote - Headline</label>
        <locationX>498</locationX>
        <locationY>607</locationY>
        <inputAssignments>
            <field>qtc_Annual_Volume__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Annual_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Average_Check__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Average_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Solution__c</field>
            <value>
                <stringValue>Payments First - Headline</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Interchange</name>
        <label>Update Quote - Interchange</label>
        <locationX>893</locationX>
        <locationY>268</locationY>
        <inputAssignments>
            <field>qtc_Annual_Volume__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Annual_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Average_Check__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Average_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Solution__c</field>
            <value>
                <stringValue>Payments First - Interchange</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Legacy</name>
        <label>Update Quote - Legacy</label>
        <locationX>939</locationX>
        <locationY>426</locationY>
        <inputAssignments>
            <field>qtc_Annual_Volume__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Annual_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Average_Check__c</field>
            <value>
                <elementReference>Get_Payments_Quote_Lines.qtc_Average_Check__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Solution__c</field>
            <value>
                <stringValue>Legacy Payments</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_No_Payments</name>
        <label>Update Quote - No Payments</label>
        <locationX>850</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>qtc_Annual_Volume__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Average_Check__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>qtc_Payments_Solution__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Payments_Quote_Lines</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
