force-app/main/default/flows/RecallTechnicalReview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RecallTechnicalReview</name>
        <label>RecallTechnicalReview</label>
        <locationX>1102</locationX>
        <locationY>437</locationY>
        <actionName>TechnicalReviewApprovalProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TecRevId</name>
            <value>
                <elementReference>GetTechnicalReviewRecords.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckIfRecordsareMorethanone</name>
        <label>CheckIfRecordsareMorethanone</label>
        <locationX>807</locationX>
        <locationY>435</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckTechnicalReviewRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTechnicalReviewRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecallTechnicalReview</targetReference>
            </connector>
            <label>CheckTechnicalReviewRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfREcordsReturn</name>
        <label>CheckIfREcordsReturn</label>
        <locationX>268</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForSSRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSSRecords.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSSStatus</targetReference>
            </connector>
            <label>CheckForSSRecords</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RecallTechnicalReview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecallTechnicalReview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSSRecords</name>
        <label>GetSSRecords</label>
        <locationX>277</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfREcordsReturn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_Sales_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTechnicalReviewRecords</name>
        <label>GetTechnicalReviewRecords</label>
        <locationX>620</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfRecordsareMorethanone</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CPQQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSSStatus</name>
        <label>UpdateSSStatus</label>
        <locationX>271</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>GetTechnicalReviewRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSSRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>CPQ_Sales_Survey__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetSSRecords</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND (2 OR 5)</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recalled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Payments Team</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TechnicalIdss</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Review__c</objectType>
    </variables>
    <variables>
        <name>TechReviewIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Technical_Review__c</objectType>
    </variables>
</Flow>
