force-app/main/default/flows/Relate_Cases_to_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CIR_Created_Success</name>
        <label>CIR Created Success</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <actionName>c:Flow_ToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Take_to_Selected_Incident</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Case Incident Relationship Records Created Successfully </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Take_to_Selected_Incident</name>
        <label>Take to Selected Incident</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <actionName>c:CustomNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IncidentRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectIncident.recordId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_CI_Record_to_Collection</name>
        <label>Assign CI Record to Collection</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CreateCaseIncidentRelationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseIncidentRelationshipUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Case_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_Loop_to_Case_Incident</name>
        <label>Assign values from Loop to Case Incident</label>
        <locationX>270</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>CaseIncidentRelationshipUpdateRecord.CaseId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Case_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseIncidentRelationshipUpdateRecord.IncidentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CI_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_LSC_in_FinalList</name>
        <label>Assignment of LSC in FinalList</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>FinalListOfCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Cases.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetIncidentRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_LVSR_in_FinalList</name>
        <label>Assignment Of  LVSR in FinalList</label>
        <locationX>677</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>FinalListOfCaseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_have_Hospitality_Incident_Permission_Set_or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Selecetd_From_lookup_Check</name>
        <label>Case Selecetd From lookup Check</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>GetIncidentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Cases.recordIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_LSC_in_FinalList</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Selected_from_List_view_Check</name>
        <label>Cases Selected from List view Check</label>
        <locationX>809</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>User_have_Hospitality_Incident_Permission_Set_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Of_LVSR_in_FinalList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_From_List_view_Check</name>
        <label>Creation From List view Check</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>CIR_Created_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not From Listview</defaultConnectorLabel>
        <rules>
            <name>yes_From_Listview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Yes From Listview</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Case_Check</name>
        <label>Selected Case Check</label>
        <locationX>512</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Cases_are_not_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Case_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Case_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_have_Hospitality_Incident_Permission_Set_or_Not</name>
        <label>User have Hospitality Incident Permission Set or Not</label>
        <locationX>809</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_have_Permision_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Set_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_selection_screen</targetReference>
            </connector>
            <label>User have Permision Set</label>
        </rules>
    </decisions>
    <description>New flow to Create CIR Records and changes after Demo with Fault handled and corrected success message and a display message change</description>
    <environments>Default</environments>
    <formulas>
        <name>IncidentRecordId</name>
        <dataType>String</dataType>
        <expression>IF({!recordId}!= null, {!recordId}, {!SelectIncident.recordId})</expression>
    </formulas>
    <interviewLabel>Relate Cases to Incidents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relate Cases to Incident</label>
    <loops>
        <name>Loop_Selected_Case_Records</name>
        <label>Loop Selected Case Records</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionReference>Selected_Case_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_from_Loop_to_Case_Incident</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_CIR_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_CIR_Records</name>
        <label>Create All CIR Records</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Creation_From_List_view_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>CreateCaseIncidentRelationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetIncidentRecord</name>
        <label>GetIncidentRecord</label>
        <locationX>512</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will get  Hospitality Incident User Permission Set fields</description>
        <name>Hospitality_Incident_User_Permission_Set</name>
        <label>Hospitality Incident User Permission Set</label>
        <locationX>809</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospitality Incident User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to get current users to have that permission set or not</description>
        <name>Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>809</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cases_Selected_from_List_view_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hospitality_Incident_User_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Selected_Case_Records</name>
        <label>Selected Case Records</label>
        <locationX>512</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FinalListOfCaseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Case_selection_screen</name>
        <label>Case selection screen</label>
        <locationX>512</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Case_Selecetd_From_lookup_Check</targetReference>
        </connector>
        <fields>
            <name>DisplayInfoMessage</name>
            <fieldText>&lt;p&gt;Cases which were checked on the listview will be included after clicking &quot;Next&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Cases</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CaseId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Cases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>Select_Cases.recordIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectIncident</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Incident__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SelectIncident.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cases_are_not_Selected</name>
        <label>Cases are not Selected</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoneCasesAreSelected</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(215, 32, 32);&quot;&gt;You have not Selected Cases.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>578</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;The relationship already exists with some of your selected Cases with this selected Incident. Other relationships are created Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Assigned</name>
        <label>Not Assigned</label>
        <locationX>1106</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAssigned</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(202, 59, 59);&quot;&gt;You are not Authorised.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Incident</name>
        <label>Select Incident</label>
        <locationX>512</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Case_Check</targetReference>
        </connector>
        <fields>
            <name>RelatingIncidentToCases</name>
            <fieldText>&lt;p&gt;You are Relating these Cases to this incident - {!GetIncidentRecord.IncidentNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseSelectedRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Selected_Case_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CaseNumber&quot;,&quot;guid&quot;:&quot;column-d5e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-36a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-4bea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageScreen</name>
            <fieldText>&lt;p&gt;Case Incident Relationship Records Created Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Hospitality_Incident_User_Permission_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseIncidentRelationshipUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Incident_Relationship__c</objectType>
    </variables>
    <variables>
        <name>CreateCaseIncidentRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Incident_Relationship__c</objectType>
    </variables>
    <variables>
        <name>FinalListOfCaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncidentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
