force-app/main/default/flows/Removal_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for AUS FI - Approval_process_for_AUS_FI</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>AUS FI -Site Approvals</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_AUS_FI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for AUS IBG CiT - Approval_process_for_AUS_IBG_CiT</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>AUS CiT IBG approval</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_AUS_IBG_CiT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for AUS IBG MR - Approval_process_for_AUS_IBG_MR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>AUS MR IBG Approval</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_AUS_IBG_MR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>NoActionDoNothing</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Do Nothing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>NoActionDoNothing</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for UK Retail - Approval_process_for_UK_Retail</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>UK Retail Approval</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_UK_Retail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for UK IBG - Approval_process_for_UK_IBG</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Submit Approval for UK IBG</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_UK_IBG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>processSelection</name>
            <value>
                <stringValue>Approval process for AUS Retail - Approval_process_for_AUS_Retail</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>selectionType</name>
            <value>
                <stringValue>selectedProcess</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>submitterType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>AUS Retail -Site Approval</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_process_for_AUS_Retail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>myVariable_current.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Bypass Automation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>AUS FI-Site Approved for Removal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Status Awaiting for Approval for AUS CiT</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>AUS IBG Site Approval for AUS MR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>New Removals status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Status is Awaiting for Approval UK Retail</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Status is Awaiting for Approval UK IBG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>AUS Retail - site approved for removal</label>
        </rules>
    </decisions>
    <description>Auto submit removal into approval process</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.Automation_Setting__c.Skip_Flow__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Automation_Setting__c.Skip_Flow__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos;&amp;&amp;
(ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;Australia&apos;) ||
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;New Zealand&apos;)) &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c, &apos;FI&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos;&amp;&amp;
(ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;Australia&apos;) ||
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;New Zealand&apos;)) &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c}, &apos;FI&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos; &amp;&amp;
(ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;Australia&apos;) ||
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;New Zealand&apos;) )&amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Replen_Method__c, &apos;CiT Fill&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c , &apos;IBG (Core)&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos; &amp;&amp;
(ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;Australia&apos;) ||
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;New Zealand&apos;) )&amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Replen_Method__c}, &apos;CiT Fill&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c} , &apos;IBG (Core)&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos;&amp;&amp;
(ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;Australia&apos;) ||
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;New Zealand&apos;)) &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Replen_Method__c, &apos;Merchant Fill&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c , &apos;IBG (Core)&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos;&amp;&amp;
(ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;Australia&apos;) ||
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;New Zealand&apos;)) &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Replen_Method__c}, &apos;Merchant Fill&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c} , &apos;IBG (Core)&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp;[Termination__c].RecordType.Name ==&apos;Removals&apos; 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;{!myVariable_current.RecordType.Name} ==&apos;Removals&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos; &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c , &apos;Retail (Corporate)&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;UK&apos;) &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c} , &apos;Retail (Corporate)&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;UK&apos;) &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos; &amp;&amp;
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;UK&apos;) &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c , &apos;IBG (Core)&apos;) &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;UK&apos;) &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c} , &apos;IBG (Core)&apos;) &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Termination__c].RecordType.Name =&apos;Removals&apos; &amp;&amp;
(ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;Australia&apos;) ||
ISPICKVAL([Termination__c].Owner:User.Geography__c, &apos;New Zealand&apos;) )&amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
[Termination__c].Owner:User.Profile.Name &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL([Termination__c].Business_Unit__c ,&apos;Retail (Corporate)&apos;) &amp;&amp;
[Termination__c].RecordType.Name=&apos;Removals&apos; &amp;&amp;
ISPICKVAL([Termination__c].Termination_Status__c, &apos;Awaiting Approval&apos;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} =&apos;Removals&apos; &amp;&amp;
(ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;Australia&apos;) ||
ISPICKVAL({!myVariable_current.Owner:User.Geography__c}, &apos;New Zealand&apos;) )&amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;System Administrator&apos; &amp;&amp;
{!myVariable_current.Owner:User.Profile.Name} &lt;&gt; &apos;CATM - Legal Team&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Business_Unit__c} ,&apos;Retail (Corporate)&apos;) &amp;&amp;
{!myVariable_current.RecordType.Name}=&apos;Removals&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.Termination_Status__c}, &apos;Awaiting Approval&apos;)</expression>
    </formulas>
    <interviewLabel>Removal_Approval_Process-4_InterviewLabel</interviewLabel>
    <label>CATM Removal Approval Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Termination__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Termination__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>status update</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Termination_Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Termination__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Termination__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Termination__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
