force-app/main/default/flows/Send_Email_alert_to_QuickBase_Team_on_FO_after_Recall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Email_Body</name>
        <label>Get Email Body</label>
        <locationX>242</locationX>
        <locationY>768</locationY>
        <actionName>CPQ_EmailTemplateBody</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_Integrity_Check_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>templateDeveloperNameCons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>getFulfillmentOrder.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Order_Integrity_Check_Notification</name>
        <label>Order Integrity Check Notification</label>
        <locationX>242</locationX>
        <locationY>888</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Get_Email_Body.htmlBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getTechnicalReview.LO_Region_Group__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[CPQ] Quote: {!$Record.Name} - Order Integrity Check for {!$Record.SBQQ__Account__r.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>templateDeveloperNameCons</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPQ_Order_Integrity_Check_Notification</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkSalessurvey</name>
        <label>checkSalessurvey</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkSalessurveyRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSalesSurvey.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTechnicalReview</targetReference>
            </connector>
            <label>checkSalessurvey</label>
        </rules>
    </decisions>
    <description>Send Email alert to QuickBase Team on FO after Recall</description>
    <environments>Default</environments>
    <interviewLabel>Send Email alert to QuickBase Team on FO after Recall {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email alert to QuickBase Team on FO after Recall</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFulfillmentOrder</name>
        <label>getFulfillmentOrder</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSalesSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>qtc_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>qtc_FulfillmentOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesSurvey</name>
        <label>getSalesSurvey</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSalessurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_Sales_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTechnicalReview</name>
        <label>getTechnicalReview</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSalesSurvey.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 6) AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Legal_Document_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_Legal_Document_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AutoPay_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </filters>
        <filters>
            <field>AutoPay_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>qtc_SyncFulfillmentOrderDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getFulfillmentOrder</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; width=&quot;665&quot;&gt; &lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;  &lt;td width=&quot;665&quot; style=&quot;width: 498.75pt; padding: 0in; white-space: pre;&quot;&gt;&lt;br&gt;  &lt;p class=&quot;MsoNormal&quot; align=&quot;center&quot; style=&quot;text-align:center&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;br&gt;  &lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;&lt;table class=&quot;MsoNormalTable&quot; border=&quot;0&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;690&quot; style=&quot;width: 517.5pt; white-space: pre;&quot;&gt;   &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;    &lt;td width=&quot;690&quot; style=&quot;width: 517.5pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0in; white-space: pre;&quot;&gt;&lt;br&gt;    &lt;p class=&quot;MsoNormal&quot; align=&quot;center&quot;&gt;&lt;b&gt;&lt;span&gt;Order Integrity Check Notification&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;br&gt;    &lt;/td&gt;   &lt;/tr&gt;  &lt;/tbody&gt;&lt;/table&gt;&lt;br&gt;  &lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;The following Salesforce CPQ Quote is ready for you to perform an order integrity check and select the appropriate Project Template.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;CPQ Quote Number: &lt;/span&gt;&lt;a href=&quot;{!baseURL}/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;NetSuite Quote Number:&amp;nbsp;&lt;/span&gt;{!getSalesSurvey.NetSuite_Quote__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;MCN:&amp;nbsp;{!$Record.SBQQ__Account__r.Master_Customer_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;FUA:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 18.6667px; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29); background-color: rgb(255, 255, 255);&quot;&gt;{!getFulfillmentOrder.qtc_DeliverToSite__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif; color: rgb(29, 29, 29);&quot;&gt;Local Office Region:&amp;nbsp;{!&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;getSalesSurvey&lt;/span&gt;&lt;span style=&quot;color: rgb(29, 29, 29); font-size: 14pt; font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Open Sans_EmbeddedFont&amp;quot;, &amp;quot;Open Sans_MSFontService&amp;quot;, sans-serif;&quot;&gt;.Local_Office_Region__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>baseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CommaSeparatedEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
