force-app/main/default/flows/Technical_Review_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Apex_action</name>
        <label>Apex action</label>
        <locationX>1116</locationX>
        <locationY>939</locationY>
        <actionName>TechnicalReviewApprovalProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>TecRevId</name>
            <value>
                <elementReference>techrevid1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>old_Tech_rev_id</name>
        <label>old Tech rev id</label>
        <locationX>912</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>techrevid1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_technical_review_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Record_or_not</name>
        <label>Create Record or not</label>
        <locationX>518</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>Create_Technical_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_technical_review_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TR_Note</targetReference>
            </connector>
            <label>Already Exist</label>
        </rules>
        <rules>
            <name>Alredy_Submitted_or_Approved</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_technical_review_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_submitted</targetReference>
            </connector>
            <label>Alredy Submitted or Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>SS_Complete</name>
        <label>SS Complete</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Survey.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Approverlist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Approver__c</picklistField>
        <picklistObject>Technical_Review__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Technical Review Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Technical Review Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Technical_Review</name>
        <label>Create Technical Review</label>
        <locationX>529</locationX>
        <locationY>970</locationY>
        <assignRecordIdToReference>techrevid1</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>CPQQuote__c</field>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Survey__c</field>
            <value>
                <elementReference>Get_Sales_Survey.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Review__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Survey</name>
        <label>Get Sales Survey</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SS_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Quote_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_Sales_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_technical_review_record</name>
        <label>Get technical review record</label>
        <locationX>526</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Record_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CPQQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Technical_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>811</locationX>
        <locationY>934</locationY>
        <connector>
            <targetReference>Apex_action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Quote_Update_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TechnicalReviewStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TR_Note</name>
        <label>Update TR Note</label>
        <locationX>738</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>old_Tech_rev_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_technical_review_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Technical_Review__c</object>
    </recordUpdates>
    <screens>
        <name>Already_submitted</name>
        <label>Already submitted</label>
        <locationX>287</locationX>
        <locationY>752</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadySubmitted</name>
            <fieldText>&lt;p&gt;Record alredy submitted for technical review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AlredyApproved</name>
            <fieldText>&lt;p&gt;Technical Review alredy approved on this Quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_technical_review_record.ApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1042</locationX>
        <locationY>493</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SS_draft</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 35, 35);&quot;&gt;Please mark Sales Survey as Complete before submit it for Technical Review ﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Update_Error</name>
        <label>Quote Update Error</label>
        <locationX>825</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apex_action</targetReference>
        </connector>
        <fields>
            <name>QuoteError</name>
            <fieldText>&lt;p&gt;Error occurred while updating Technical Review Status on Quote.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error&lt;/strong&gt;: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Note: Quote will still submited for technical review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>516</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_technical_review_record</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>techrevid1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
