force-app/main/default/flows/Update_Order_Status_on_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>BillingBacklog</name>
        <label>BillingBacklog</label>
        <locationX>678</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>OrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Activated, Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderStatusOnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Activated</name>
        <label>Order Activated</label>
        <locationX>950</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>OrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderStatusOnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrderEntered</name>
        <label>OrderEntered</label>
        <locationX>366</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>OrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Entered/Booked</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderStatusOnQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrderShipped</name>
        <label>OrderShipped</label>
        <locationX>597</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>OrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Shipped, Billing Backlog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderStatusOnQuote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckErpDetails</name>
        <label>CheckErpDetails</label>
        <locationX>572</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Shipped_Billing_Backlog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_ERP_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_ERP_Order_Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderShipped</targetReference>
            </connector>
            <label>Order Shipped, Billing Backlog</label>
        </rules>
        <rules>
            <name>Order_Entered_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_ERP_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderEntered</targetReference>
            </connector>
            <label>Order Entered/Booked</label>
        </rules>
        <rules>
            <name>Order_Activated_Pending_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_ERP_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.qtc_ERP_Order_Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>f_todaydate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingBacklog</targetReference>
            </connector>
            <label>Order Activated, Pending Billing</label>
        </rules>
        <rules>
            <name>Order_Activated1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_todaydate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Activated</targetReference>
            </connector>
            <label>Order Activated</label>
        </rules>
    </decisions>
    <description>SFCPQBLG-1405 Fix Quote Recalculation Issues -- 03-FEB-2023 - Dharmendra</description>
    <environments>Default</environments>
    <formulas>
        <name>f_todaydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Order Status on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order Status on Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOrderStatusOnQuote</name>
        <label>UpdateOrderStatusOnQuote</label>
        <locationX>510</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Order_Status__c</field>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>71</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>CheckErpDetails</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_ERP_Order_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>qtc_ERP_Order_Ship_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
