force-app/main/default/flows/Update_Amended_Opportunity_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>OpportunityCount</name>
        <label>OpportunityCount</label>
        <locationX>328</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>varOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Amended_Opportunities_related_to_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Name</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>DeliverToSite</name>
        <dataType>String</dataType>
        <expression>IF(IsBlank({!$Record.SBQQ__AmendedContract__r.qtc_Deliver_To_Site__c}),&apos;&apos;, &apos; -&apos; + LEFT({!$Record.SBQQ__AmendedContract__r.qtc_Deliver_To_Site__r.Name},80))</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;Amendment #&apos;+Text({!varOppCount} + 1)+ &apos; for contract #&apos;+ {!$Record.SBQQ__AmendedContract__r.ContractNumber}+ {!DeliverToSite}</expression>
    </formulas>
    <interviewLabel>Update Amended Opportunity Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amended Opportunity Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Amended_Opportunities_related_to_Contract</name>
        <label>Get Amended Opportunities related to Contract</label>
        <locationX>173</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Name</name>
        <label>Update Opportunity Name</label>
        <locationX>556</locationX>
        <locationY>342</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>47</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Amended_Opportunities_related_to_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
