force-app/main/default/flows/Update_Contact_Owner_same_as_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CATMUser_PS_Assigned_To_ContactAccountOwner</name>
        <label>CATMUser_PS_Assigned_To_ContactAccountOwner</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Has_CATMUser_PS_Assigned_To_ContactAccountOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetAssignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CATMUser_PS_Assigned_To_ContactOwner</name>
        <label>CATMUser_PS_Assigned_To_ContactOwner</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Has_CATMUser_PS_Assigned_To_ContactOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionSetAssignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ContactRecord</name>
        <label>Populate ContactRecord</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAccountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Both_Account_and_Contact_Owner_Has_Permission_Set</name>
        <label>Check If Both Account and Contact Owner Has Permission Set</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Account_and_Contact_Owner_Has_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_CATMUser_PS_Assigned_To_ContactAccountOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Has_CATMUser_PS_Assigned_To_ContactOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_ContactRecord</targetReference>
            </connector>
            <label>Both Account and Contact Owner Has Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CATM_User_and_Contact_Owner_not_same_as_Account_Owner</name>
        <label>If CATM User and Contact Owner not same as Account Owner</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CATM_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.CATM_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContactAccountOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CATM_User_PermissionSetAssignment</targetReference>
            </connector>
            <label>CATM User</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Permission_Set_Assigned_to_Account_Owner_and_Contact_Owner</name>
        <label>If Permission Set Assigned to Account Owner and Contact Owner</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Assigned_to_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignment_Loop.AssigneeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactAccountOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CATMUser_PS_Assigned_To_ContactAccountOwner</targetReference>
            </connector>
            <label>Permission Set Assigned to Account Owner</label>
        </rules>
        <rules>
            <name>Permission_Set_Assigned_to_Contact_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignment_Loop.AssigneeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactOwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CATMUser_PS_Assigned_To_ContactOwner</targetReference>
            </connector>
            <label>Permission Set Assigned to Contact Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Owner same as Account Owner</label>
    <loops>
        <name>PermissionSetAssignment_Loop</name>
        <label>PermissionSetAssignment Loop</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_CATM_User_PermissionSetAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Permission_Set_Assigned_to_Account_Owner_and_Contact_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Both_Account_and_Contact_Owner_Has_Permission_Set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CATM_User_PermissionSetAssignment</name>
        <label>Get CATM User PermissionSetAssignment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSetAssignment_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAccountOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS4u000000bb13GAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_CATM_User_and_Contact_Owner_not_same_as_Account_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Has_CATMUser_PS_Assigned_To_ContactAccountOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Has_CATMUser_PS_Assigned_To_ContactOwner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
